/* Board List: Type Default */
#boardList {}
.board_list {border-bottom:2px solid #acacac}
.board_list:after {clear:both;display:table;content:'';*zoom:1}
.board_list.default .b_subject {width:735px}
.board_list.default .b_author {width:205px}
.board_list.default .b_like {width:100px}
.board_list.default .b_date {width:140px}
.board_list.default .b_hit {width:120px}
.board_list.default .b_server {width:100px}

.board_list > li {display:table;width:100%;min-height:60px;padding:22px 0 19px;border-top:1px solid #ccc}
.board_list > li:first-child {border-width:2px}
.board_list > li.notice {background:#f2f2f2}
.board_list > li.notice:first-child {border-top:2px solid #acacac}
.board_list > li.notice .b_subject .subject_header .category:after {display:none}
.board_list > li.notice .b_author .author {width:80px;height:27px;margin:0 auto;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/spr_global.png') no-repeat -3px -686px}
.board_list > li.label {height:64px;border-top:2px solid #acacac;border-bottom:1px solid #acacac}
.board_list > li > div {display:table-cell;padding:0 20px;vertical-align:middle}
.board_list > li.label > div {text-align:center;font-size:16px;color:#444}
.board_list > li.notice .b_author,
.board_list > li.label .b_author {padding:0 20px}
.board_list .b_subject .subject_header {overflow:hidden;margin:0 0 3px 0}
.board_list .b_subject .subject_header > span {float:left;margin:0 8px 0 0;font-size:12px;line-height:14px}
.board_list .b_subject .subject_header .category {color:#e65700}
.board_list .b_subject .subject_header .category:after {float:right;content:'';width:1px;height:9px;margin:3px 0 0 8px;background:#989898}
.board_list .b_subject .subject_header .num {color:#888}
.board_list .b_subject .subject {clear:both}
.board_list .b_subject .subject:after {clear:both;display:table;content:'';*zoom:1}
.board_list .b_subject .subject > a {float:left;overflow:hidden;max-width:500px;word-break:break-all;white-space:nowrap;text-overflow:ellipsis;font-size:16px;line-height:21px;color:#444}
.board_list .b_subject .subject > span {float:left;margin:0 0 0 3px;line-height:21px}
.board_list .b_subject .subject .cmt {margin:0 3px 0 6px;color:#e65700}
/* 새 글이면, new / 모바일이면 mobile / 그림있으면 pic */
.board_list .b_subject .subject .ico {width:19px;height:19px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/spr_asset.png') no-repeat 0 0}
.board_list .b_subject .subject .ico.new {background-position:-326px -85px}
.board_list .b_subject .subject .ico.mobile {background-position:-350px -85px}
.board_list .b_subject .subject .ico.pic {background-position:-374px -85px}
.board_list .b_author {position:relative;padding:0 20px 0 50px}
.board_list .b_author .medal {position:absolute;top:50%;left:20px;width:24px;height:34px;margin:-16px 0 0 0;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/spr_global.png') no-repeat 0 0}
.board_list .b_author .medal.gold {background-position:-434px 0}
.board_list .b_author .medal.silver {background-position:-434px -38px}
.board_list .b_author .medal.bronze {background-position:-434px -76px}
.board_list .b_author .author_header {overflow:hidden;margin:0 0 3px 0}
.board_list .b_author .author_header > span {float:left;margin:0 8px 0 0;font-size:12px;line-height:14px}
.board_list .b_author .author_header .server {color:#888}
.board_list .b_author .author_header .server .g {color:#06a545}
.board_list .b_author .author_header .server .s {color:#ee5f00}
.board_list .b_author .author_header .server > span {float:right;position:relative;display:block;padding:0 0 0 10px}
.board_list .b_author .author_header .server > span:before {position:absolute;display:block;top:3px;left:5px;content:'';width:1px;height:9px;background:#aaa}
.board_list .b_author .author_header .level {color:#888}
.board_list .b_author .author_header .level:before {float:left;content:'';width:1px;height:9px;margin:3px 7px 0 0;background:#989898}
.board_list .b_author .nickname {font-size:14px;line-height:19px;color:#444}
.board_list .b_date, .board_list .b_hit, .board_list .b_like, .board_list .b_server {font-size:16px;text-align:center}
.board_list .b_date .date, .board_list .b_like .like, .board_list .b_server .server {color:#888}
.board_list .b_hit .hit {color:#e65700}
.board_list .b_thumb {position:relative}
.board_list .b_thumb .thumb,
.board_list .b_thumb .thumb > img,
.board_list .b_thumb .thumb > a,
.board_list .b_thumb .thumb > a > img {display:block;width:100%;height:100%}

/* Board List Top Articles Badge */
.board_list > li.hot .b_thumb:before,
.board_list > li.official .b_thumb:before,
.board_list > li.best .b_thumb:before,
.board_list.top .b_thumb:before {position:absolute;display:block;top:-3px;left:0;content:'';width:75px;height:72px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/spr_asset.png') no-repeat -352px -142px;z-index:1}
.board_list > li.hot .b_thumb:before {background-position:-352px -142px}
.board_list > li.official .b_thumb:before {background-position:-352px -219px}
.board_list > li.best .b_thumb:before,
.screenshot .board_list.top > li.best .b_thumb:before {background-position:-192px -142px}
.movie .board_list.top > li.best .b_thumb:before {background-position:-192px -219px}
.fanart .board_list.top > li.best .b_thumb:before {background-position:-272px -142px}
.cartoon .board_list.top > li.best .b_thumb:before {background-position:-272px -219px}

/* Board Category Color Set */
.board_list .b_subject .subject_header .category.cr1,
.bv_header .bv_info .bv_subject .subject_side .category.cr1 {color:#ff00d2}
.board_list .b_subject .subject_header .category.cr2,
.bv_header .bv_info .bv_subject .subject_side .category.cr2 {color:#c73737}
.board_list .b_subject .subject_header .category.cr3,
.bv_header .bv_info .bv_subject .subject_side .category.cr3 {color:#e65700}
.board_list .b_subject .subject_header .category.cr4,
.bv_header .bv_info .bv_subject .subject_side .category.cr4 {color:#118b4a}
.board_list .b_subject .subject_header .category.cr5,
.bv_header .bv_info .bv_subject .subject_side .category.cr5 {color:#0c918f}
.board_list .b_subject .subject_header .category.cr6,
.bv_header .bv_info .bv_subject .subject_side .category.cr6 {color:#005ce6}
.board_list .b_subject .subject_header .category.cr7,
.bv_header .bv_info .bv_subject .subject_side .category.cr7 {color:#5700e6}
.board_list .b_subject .subject_header .category.cr8,
.bv_header .bv_info .bv_subject .subject_side .category.cr8 {color:#888888}
.board_list .b_subject .subject_header .category.cr9,
.bv_header .bv_info .bv_subject .subject_side .category.cr9 {color:#fa0000}
.cont_header .category .on.cr1,
.cont_header .category .on.cr1 > a,
.cont_header .category .cr1 > a:hover,
.cont_header .category .cr1 > a:active {color:#ff00d2}
.cont_header .category .on.cr2,
.cont_header .category .on.cr2 > a,
.cont_header .category .cr2 > a:hover,
.cont_header .category .cr2 > a:active {color:#c73737}
.cont_header .category .on.cr3,
.cont_header .category .on.cr3 > a,
.cont_header .category .cr3 > a:hover,
.cont_header .category .cr3 > a:active {color:#e65700}
.cont_header .category .on.cr4,
.cont_header .category .on.cr4 > a,
.cont_header .category .cr4 > a:hover,
.cont_header .category .cr4 > a:active {color:#118b4a}
.cont_header .category .on.cr5,
.cont_header .category .on.cr5 > a,
.cont_header .category .cr5 > a:hover,
.cont_header .category .cr5 > a:active {color:#0c918f}
.cont_header .category .on.cr6,
.cont_header .category .on.cr6 > a,
.cont_header .category .cr6 > a:hover,
.cont_header .category .cr6 > a:active {color:#005ce6}
.cont_header .category .on.cr7,
.cont_header .category .on.cr7 > a,
.cont_header .category .cr7 > a:hover,
.cont_header .category .cr7 > a:active {color:#5700e6}
.cont_header .category .on.cr8,
.cont_header .category .on.cr8 > a,
.cont_header .category .cr8 > a:hover,
.cont_header .category .cr8 > a:active {color:#888888}
.cont_header .category .on.cr9,
.cont_header .category .on.cr9 > a,
.cont_header .category .cr9 > a:hover,
.cont_header .category .cr9 > a:active {color:#fa0000}

/* Board Buttons */
.b_btns .btn.write {width:420px;height:69px;background-position:0 -300px}
.b_btns .btn.vote {width:421px;height:69px;background-position:-423px -300px}
.b_btns .btn.submit {width:419px;height:69px;background-position:0 -376px}
.b_btns .btn.like {width:421px;height:69px;background-position:-423px -376px}
.b_btns .btn.list {width:420px;height:69px;background-position:0 -453px}
.b_btns .btn.modify {width:339px;height:69px;background-position:-423px -453px}
.b_btns .btn.delete {width:339px;height:69px;background-position:-439px -224px}
.bc_btns .btn.cdelete {width:64px;height:21px;background-position:-548px 0}
.bc_write .btn.cwrite {width:139px;height:105px;background-position:-615px -88px}
.b_search_form .btn.search {width:105px;height:38px;background-position:-225px 0}
.b_search_form .btn.listAll {width:105px;height:38px;background-position:-460px -24px}

/* Board Paging */
.b_paging {overflow:hidden;height:50px;text-align:center}
.b_paging .paging {display:inline-block;*display:inline;zoom:1}
.b_paging .paging > li {position:relative;float:left}
.b_paging .paging > li,
.b_paging .paging > li > a {display:block}
.b_paging .paging > li.num:before {position:absolute;display:block;top:50%;left:-1px;content:':';font-size:14px;margin-top:-24px}
.b_paging .paging > li.prev + .num:before {display:none}
.b_paging .paging > li.num {padding:0 26px;font-size:16px;line-height:50px;color:#424242}
.b_paging .paging > li.num.current {font-weight:bold;color:#e16418}
.b_paging .paging > li.num > a {color:inherit}
.b_paging .paging > li.btn,
.b_paging .paging > li.btn > a {width:50px;height:50px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/spr_asset.png') no-repeat 0 0}
.b_paging .paging > li.first {margin-right:5px;background-position:0 -58px}
.b_paging .paging > li.first > a {background-position:0 0}
.b_paging .paging > li.prev {background-position:-55px -58px}
.b_paging .paging > li.prev > a {background-position:-55px 0}
.b_paging .paging > li.next {margin-right:5px;background-position:-110px -58px}
.b_paging .paging > li.next > a {background-position:-110px 0}
.b_paging .paging > li.last {background-position:-165px -58px}
.b_paging .paging > li.last > a {background-position:-165px 0}

/* Board View - Header */
.view .wrap_cont .cont_body {margin-bottom:0}
.view .board_view.inner {border-top:2px solid #acacac}
.bv_header {min-height:136px;background:#f5f5f5;border-bottom:2px solid #acacac}
.bv_header:after {clear:both;display:table;content:'';*zoom:1}
.bv_header .bv_info {float:left;width:820px;padding:39px 27px 35px;background:#fff}
.bv_header .bv_info .bv_subject {margin:0 0 17px 0;line-height:27px}
.bv_header .bv_info .bv_subject:after {clear:both;display:table;content:'';*zoom:1}
.bv_header .bv_info .bv_subject .subject_side {overflow:hidden;float:left;display:block}
.bv_header .bv_info .bv_subject .subject_side > span {float:left;margin:0 8px 0 0;font-size:12px}
.bv_header .bv_info .bv_subject .subject_side:after {float:right;content:'';width:1px;height:12px;margin:8px 9px 0 2px;background:#989898}
.bv_header .bv_info .bv_subject .subject_side .category,
.bv_header .bv_info .bv_subject .subject_side .server .s {color:#e65700}
.bv_header .bv_info .bv_subject .subject_side .server:before {content:'/ ';margin:0 0 0 -5px;color:#999}
.bv_header .bv_info .bv_subject .subject_side .server .g {color:#06a545}
.bv_header .bv_info .bv_subject .subject {float:left}
.bv_header .bv_info .bv_subject .subject .tit {overflow:hidden;max-width:680px;font-size:16px;line-height:28px;color:#444}
.bv_header .bv_info .bv_subject .subject .tit_sub {overflow:hidden;display:inline-block;vertical-align:-5px}
.bv_header .bv_info .bv_subject .subject .tit_sub > span {float:left;margin:0 0 0 3px;line-height:21px}
.bv_header .bv_info .bv_subject .subject .tit_sub > span.cmt {margin:0 2px 0 3px}
.bv_header .bv_info .bv_subject .subject .cmt {color:#e65700}
.bv_header .bv_info .bv_subject .subject .ico {width:19px;height:19px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/spr_asset.png') no-repeat 0 0}
.bv_header .bv_info .bv_subject .subject .ico.new {background-position:-326px -85px}
.bv_header .bv_info .bv_subject .subject .ico.mobile {background-position:-350px -85px}
.bv_header .bv_info .bv_subject .subject .ico.pic {background-position:-374px -85px}
.bv_header .bv_info .bv_des {clear:both;overflow:hidden}
.bv_header .bv_info .bv_des > div {float:left;margin:0 23px;font-size:14px;color:#adacac}
.bv_header .bv_info .bv_des > div:after {float:right;content:'';width:1px;height:13px;margin:2px -23px 0 20px;background:#adacac}
.bv_header .bv_info .bv_des > div:first-child {margin-left:0}
.bv_header .bv_info .bv_des > div:last-child:after {display:none}
.bv_header .bv_info .bv_des .bv_like {position:relative;padding:0 0 0 20px}
.bv_header .bv_info .bv_des .bv_like:before {position:absolute;top:3px;left:0;display:block;content:'';width:13px;height:11px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/spr_asset.png') no-repeat -326px -108px}
.bv_header .bv_userInfo {float:right;display:table;width:380px;padding:3px 30px 0 35px;background:#f5f5f5}
.bv_header .bv_userInfo.none {height:68px;margin:34px 0 0 0;padding:0;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/logo.png') no-repeat 50% 0}
.bv_header .bv_userInfo .bv_author {display:table-cell;width:160px;vertical-align:middle}
.bv_header .bv_userInfo .bv_character {float:right}
.bv_header .bv_userInfo .author_side {overflow:hidden;margin:0 0 5px 0}
.bv_header .bv_userInfo .author_side > span {float:left;margin:0 8px 0 0;font-size:12px;line-height:14px}
.bv_header .bv_userInfo .author_side .server .g {color:#06a545}
.bv_header .bv_userInfo .author_side .server .s {color:#ee5f00}
.bv_header .bv_userInfo .author_side .level {color:#888}
.bv_header .bv_userInfo .author_side .level:before {float:left;content:'';width:1px;height:9px;margin:3px 7px 0 0;background:#989898}
.bv_header .bv_userInfo .nickname {font-size:15px;font-weight:bold;line-height:19px;color:#adacac}

/* Board View - Contents */
.bv_contents {padding:55px 27px 10px;font-size:14px;line-height:1.7}
.bv_contents p {margin:0 0 23px 0}
.bv_contents img {margin:10px auto 15px;max-width:100%}

/* Board View - Footer */
.bv_footer {margin:25px 0 70px}
.bv_footer .bv_aside {height:45px;margin:0 0 30px 0;padding:10px 20px 0;background:#f7f7f7;border-top:1px solid #d6d6d6;border-bottom:2px solid #acacac}
.bv_footer .bv_aside .btn {display:block}
.bv_footer .bv_aside .bv_url {float:left;font-size:12px;color:#b39a8c}
.bv_footer .bv_aside .bv_url .url {display:block;float:left;line-height:22px}
.bv_footer .bv_aside .bv_url .btn.copyUrl {float:left;width:63px;height:22px;margin-left:13px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/spr_asset.png') no-repeat -336px 0}
.bv_footer .bv_aside .bv_declare {float:right}
.bv_footer .bv_aside .bv_declare .btn.vdeclare {width:63px;height:22px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/spr_asset.png') no-repeat -406px 0}
.bv_footer .b_btns {margin-bottom:31px;text-align:center}
.bv_footer .b_btns .btn {display:inline-block;margin:0 0 0 5px;*display:inline;zoom:1;background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/spr_asset.png');background-repeat:no-repeat}
.bv_footer .b_btns .btn:first-child {margin-left:0}

/* Comment View - Header */
.board_comment {padding:36px 0 55px;background:#efefef}
.bc_guide {padding:0 14px 12px;font-size:13px;line-height:18px;color:#646464}
.bc_guide > p {margin-bottom:14px}
.bc_guide > p:last-child {margin-bottom:0}
.bc_write {margin-bottom:38px}
.bc_write fieldset {position:relative;display:block;height:125px;padding:14px 165px 15px 18px;border:3px solid #cacaca;background-color:#fff}
.bc_write textarea {display:block;width:100%;height:94px;padding:5px;overflow-x:hidden;overflow-y:auto;font-size:16px;line-height:1.4;color:#333;outline:0;resize:none;vertical-align:top;-webkit-appearance:none;border:0;word-break:break-all;background-color:#fff}
.bc_write textarea:focus {border-color:#bebebe}
.bc_write .btn.cwrite {position:absolute;display:block;top:7px;right:7px;background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/spr_asset.png')}

/* Comment View - Body */
.comment_list {overflow:hidden;margin-bottom:29px;border-top:1px solid #ababab;border-bottom:1px solid #ababab}
.comment_list li {clear:both;border-top:1px solid #cacaca}
.comment_list li:first-child {border-top:none}
.comment_list .bc_row {display:table;width:100%;min-height:85px}
.comment_list .bc_row.none > p {display:table-cell;vertical-align:middle;text-align:center}
.comment_list .bc_author,
.comment_list .bc_contents,
.comment_list .bc_aside {display:table-cell;vertical-align:middle}
.comment_list .bc_author {position:relative;width:215px;padding:0 20px 0 50px}
.comment_list .bc_author .medal {position:absolute;top:50%;left:20px;width:24px;height:34px;margin:-16px 0 0 0;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/spr_global.png') no-repeat 0 0}
.comment_list .bc_author .medal.gold {background-position:-434px 0}
.comment_list .bc_author .medal.silver {background-position:-434px -38px}
.comment_list .bc_author .medal.bronze {background-position:-434px -76px}
.comment_list .bc_author .author_header {overflow:hidden;margin:0 0 3px 0}
.comment_list .bc_author .author_header > span {float:left;margin:0 8px 0 0;font-size:12px;line-height:14px}
.comment_list .bc_author .author_header .server {color:#888}
.comment_list .bc_author .author_header .server .g {color:#06a545}
.comment_list .bc_author .author_header .server .s {color:#ee5f00}
.comment_list .bc_author .author_header .server > span {float:right;position:relative;display:block;padding:0 0 0 10px}
.comment_list .bc_author .author_header .server > span:before {position:absolute;display:block;top:3px;left:5px;content:'';width:1px;height:9px;background:#aaa}
.comment_list .bc_author .author_header .level {color:#888}
.comment_list .bc_author .author_header .level:before {float:left;content:'';width:1px;height:9px;margin:3px 7px 0 0;background:#989898}
.comment_list .bc_author .nickname {font-size:14px;line-height:19px;color:#444}
.comment_list .bc_contents {position:relative;width:795px;padding:22px 40px 22px 20px;font-size:14px;line-height:18px;word-break:break-all}
.comment_list .bc_aside {width:180px;padding:20px;text-align:center}
.comment_list .bc_date {font-size:12px;color:#adacac}
.comment_list .bc_btns {clear:both;margin:5px 0 0 0}
.comment_list .bc_btns .btn.cdelete {display:block;width:64px;height:21px;margin:0 auto;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/spr_asset.png') no-repeat -548px 0}

/* Board Write */
.write .cont_body > .inner {padding:20px 0 0 !important;border-top:2px solid #acacac}
.bw_header {margin:0 0 20px 0;padding:0 0 20px 0;border-bottom:2px solid #acacac}
.bw_header:after {clear:both;display:table;content:'';*zoom:1}
.bw_header .iptBox .ipt_select,
.bw_header .iptBox .ipt_keyword {height:48px;line-height:48px}
.bw_header .iptBox .ipt_select {border-color:#acacac}
.bw_header .iptBox .ipt_select .option.selected {color:#e77a3d}
.bw_header .iptBox.bw_category {float:left;width:190px;margin:0 19px 0 0}
.bw_header .iptBox.bw_subject {margin:0 19px 0 209px}
.bw_header .iptBox.bw_subject .ipt_keyword {width:100%;color:#444;border-top:none;border-left:none;border-right:none;border-bottom:3px solid #e77a3d}
.bw_header .iptBox.bw_subject .ipt_keyword:active, .bw_header .iptBox.bw_subject .ipt_keyword:focus {border-bottom-color:#d16b31}
.bw_header .bw_youtube {position:relative;clear:both;margin:20px 0 0 0;padding:20px 0 0 167px;border-top:1px solid #acacac}
.bw_header .bw_youtube:before {position:absolute;top:25px;left:18px;display:block;width:120px;height:38px;content:'';background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/spr_asset.png') no-repeat -336px -28px}
.bw_header .bw_youtube .help {margin:12px 0 0 0;font-size:12px;line-height:16px;color:#888}
.bw_header .bw_youtube .iptBox {margin:0 19px 0 0}
.bw_header .bw_youtube .iptBox.bw_youtubeMsg {margin-top:20px;padding:20px 0 0 0;border-top:1px solid #ddd}
.bw_header .bw_youtube .iptBox.bw_youtubeMsg .ipt_youtubeMsg {display:block;padding:10px;height:120px;outline:0}
.bw_header .bw_youtube .iptBox.bw_youtubeSrc .ipt_youtubeSrc {height:48px;padding:0 10px 0;line-height:48px}
.bw_header .bw_youtube .iptBox.bw_youtubeSrc .ipt_youtubeSrc,
.bw_header .bw_youtube .iptBox.bw_youtubeMsg .ipt_youtubeMsg {width:100%;font-size:15px;color:#444;background:#fff;border:1px solid #d8d0c6;transition:all .2s ease-in-out}
.bw_header .bw_youtube .iptBox.bw_youtubeSrc .ipt_youtubeSrc:active,
.bw_header .bw_youtube .iptBox.bw_youtubeSrc .ipt_youtubeSrc:focus,
.bw_header .bw_youtube .iptBox.bw_youtubeMsg .ipt_youtubeMsg:active,
.bw_header .bw_youtube .iptBox.bw_youtubeMsg .ipt_youtubeMsg:focus {border-color:#d0b6a9}
.bw_guide {padding:27px 26px 21px;font-size:12px;line-height:17px;color:#666;background:#e7e7e7;border-style:solid;border-color:#d7d7d7;border-top-width:1px;border-left-width:1px;border-right-width:1px;border-bottom:none}
.bw_guide > p {margin-bottom:14px}
.bw_guide > p:last-child {margin-bottom:0}
.bw_editor {clear:both;display:block;height:540px;min-height:540px;margin:0 0 35px 0;border:1px solid #d7d7d7}
.bw_footer .b_btns {margin:0 0 70px 0;text-align:center}
.bw_footer .b_btns .btn {display:inline-block;*display:inline;zoom:1;margin:0 0 0 12px;vertical-align:top;border:none;outline:0;background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/spr_asset.png');background-repeat:no-repeat}
.bw_footer .b_btns .btn:first-child {margin-left:0}
.trade .bw_header .iptBox.bw_category {width:215px}
.trade .bw_header .iptBox.bw_subject {margin-left:468px}
.ucc .bw_header .iptBox.bw_subject {margin-left:15px}
.declare .bw_editor {margin-bottom:21px}

/* Declare File Upload Form */
.declare .bw_uploader {height:215px;margin:0 0 35px 0;border:1px solid #d7d7d7}
.declare .bw_uploader:after {clear:both;display:table;content:'';*zoom:1}
.declare .bw_uploader .bw_note {display:table;float:left;width:458px;height:100%;padding:28px;background:#f5f5f5}
.declare .bw_uploader .bw_note .help {display:table-cell;font-size:12px;line-height:20px;color:#888;vertical-align:middle}
.declare .bw_uploader .bw_upload {float:left;width:740px;padding:29px 28px 0 36px}
.declare .bw_uploader .bw_upload_files {margin-bottom:16px}
.declare .bw_uploader .bw_upload_files .bw_file {margin:0 auto}
.declare .bw_uploader .bw_upload_files .bw_file .file {position:relative;margin:11px 0 0 0;padding:0;border:none}
.declare .bw_uploader .bw_upload_files .bw_file .file .ipt_file {position:absolute;top:0;right:34px;text-indent:-9999px;-moz-opacity:0;filter:alpha(opacity=0);opacity:0;z-index:2;cursor:pointer}
.declare .bw_uploader .bw_upload_files .bw_file .file .ipt_fileName {display:block;float:left;width:525px;height:31px;padding:0 10px;background:#e6e6e6;border:1px solid #b1b1b1}
.declare .bw_uploader .bw_upload_files .bw_file .file .ipt_file,
.declare .bw_uploader .bw_upload_files .bw_file .file .ipt_browse {display:block;width:110px;height:31px}
.declare .bw_uploader .bw_upload_files .bw_file .file .ipt_browse {float:left;margin:0 0 0 5px;text-align:center;color:#1b1b1b;background:#ccc;outline:0}
.declare .bw_uploader .bw_upload_files .bw_file .file .ipt_fileDelete {float:left;display:block;margin:0 0 0 5px}
.declare .bw_uploader .bw_upload_files .bw_file .file .ipt_fileDelete a {width:31px;height:31px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/spr_global.png') no-repeat -679px -334px}
.declare .bw_uploader .bw_upload_files .bw_file li {clear:both;height:31px}
.declare .bw_uploader .bw_upload_files .bw_file li:first-child {margin-top:0}
.declare .bw_uploader .bw_upload_submit {position:relative;height:50px;text-align:center}
.declare .bw_uploader .bw_upload_submit:before {content:'업로드';font-weight:bold;line-height:50px;color:#fff;background:#e96d21;z-index:1}
.declare .bw_uploader .bw_upload_submit .btn.upload_submit {z-index:2}
.declare .bw_uploader .bw_upload_submit:before,
.declare .bw_uploader .bw_upload_submit .btn.upload_submit {position:absolute;display:block;top:0;left:0;width:100%;height:100%;outline:0}
