/* editor */
.edSec  {width:698px;height:414px;margin-top:7px;border:0;background-color:#fffbf3}
.edWSec {width:676px;margin-top:10px;padding:10px;border:1px solid #e1e0d7;background-color:#fff}
.editWindow {width:676px;padding:0;border:0}
#selectBar {background-color:#eae5da;border:none;border-bottom:none}
.edFSec02 a {display:block;width:19px;height:20px}
.edFSec02 a.fontWeight{width:20px;background:url('http://s.nx.com/S2/Game/Elsword/2012/icon/ico_ed01_out.gif') no-repeat 0 0}
.edFSec02 a.fontItalic{background:url('http://s.nx.com/S2/Game/Elsword/2012/icon/ico_ed02_out.gif') no-repeat 0 0}
.edFSec02 a.fontUnderline{background:url('http://s.nx.com/S2/Game/Elsword/2012/icon/ico_ed03_out.gif') no-repeat 0 0}
.edFSec02 a.fontColor{background:url('http://s.nx.com/S2/Game/Elsword/2012/icon/ico_ed04_out.gif') no-repeat 0 0}
.edFSec02 a.fontBgcolor{background:url('http://s.nx.com/S2/Game/Elsword/2012/icon/ico_ed05_out.gif') no-repeat 0 0}
.edFSec02 a.arrayLeft{width:20px; background:url('http://s.nx.com/S2/Game/Elsword/2012/icon/ico_ed06_out.gif') no-repeat 0 0}
.edFSec02 a.arrayCenter{width:18px; background:url('http://s.nx.com/S2/Game/Elsword/2012/icon/ico_ed07_out.gif') no-repeat 0 0}
.edFSec02 a.arrayRight{width:19px; background:url('http://s.nx.com/S2/Game/Elsword/2012/icon/ico_ed08_out.gif') right top no-repeat}
.edFSec02 a.etcLink{width:20px;background:url('http://s.nx.com/S2/Game/Elsword/2012/icon/ico_ed09_out.gif') no-repeat 0 0}
.edFSec02 a.etcLine{background:url('http://s.nx.com/S2/Game/Elsword/2012/icon/ico_ed10_out2.gif') no-repeat 0 0}
.edFSec02 a.etcEmoticon{background:url('http://s.nx.com/S2/Game/Elsword/2012/icon/ico_ed11_out.gif') no-repeat 0 0}
.edSelectStyleBar .edFSec03 {float:left}
.edSelectStyleBar .edFSec03 a{float:left}
.edFSec03 a strong {display:none}
.edFSec03 a {display:block;width:53px;height:20px}
.edFSec03 a.uploadImage{background:url('http://s.nx.com/S2/Game/Elsword/2012/icon/ico_ed12_out.gif') no-repeat;margin-right:10px}
.edFSec03 a.uploadMovie{background:url('http://s.nx.com/S2/Game/Elsword/2012/icon/ico_ed13_out.gif') no-repeat 0 0}