/* RESET DEFAULT ELEMENTS STYLE */
*{box-sizing:border-box;font-smoothing:antialiased;text-rendering:optimizeLegibility}
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}
body{margin:0}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
[hidden],template{display:none}
a{background-color:transparent}
a:active,a:hover{outline:0}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}
dfn{font-style:italic}
h1{font-size:2em;margin:.67em 0}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup{top:-.5em}
sub{bottom:-.25em}
img{border:0}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
hr{box-sizing:content-box;height:0}
pre{overflow:auto}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}
button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}
button{overflow:visible}
button,select{text-transform:none}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
input{line-height:normal}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}
input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}
legend{border:0;padding:0}
textarea{overflow:auto}
optgroup{font-weight:700}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
::-moz-selection{background:#ccc;color:#fff;text-shadow:none}
::selection{background:#ccc;color:#fff;text-shadow:none}
::-moz-selection{background:#ccc;color:#fff;text-shadow:none}
::-webkit-selection{background:#ccc;color:#fff;text-shadow:none}

/* RESET DEFAULT ELEMENTS STYLE */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
dl,ul,ol,menu,li {list-style:none}
address, caption, cite, code, dfn, em, var {font-style:normal;font-weight:normal}
img,fieldset,iframe {border:0 none}
img {vertical-align:top}
input,select,textarea,button {vertical-align:middle}
textarea {resize:none}
input::-ms-clear {display:none}
button {border:0 none;background-color:transparent;cursor:pointer}
button:focus, a:focus {outline:0}
button, input[type='button'], input[type='submit'], input[type='reset'], input[type='file'] {border-radius:0;-webkit-appearance:button}
input[type="image"], input[type="text"], input[type="submit"], input[type="password"], input[type='search'] {border-radius:0;-webkit-appearance:none}
input:checked[type='checkbox'] {-webkit-appearance:checkbox;background-color:transparent}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
input[type="text"]:focus {outline:0}
table {border-collapse:collapse;border-spacing:0;empty-cells:show}
caption,legend {position:absolute;top:-9999px;left:-9999px;font-size:0;line-height:0}
a {text-decoration:none}
a:hover {text-decoration:underline}
a:active {background-color:transparent}
body,h1,h2,h3,h4,h5,h6,th,td,input,select,textarea,button {font-family:'Nanum Gothic', 'Malgun Gothic', sans-serif,'돋움',Dotum;font-size:14px;color:#333333;letter-spacing:-0.2px}
hr {display:none}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,main {display:block}
blockquote,q {quotes:none}
blockquote:before,blockquote:after,q:before,q:after {content:'';content:none}

html, body {width:100%;min-width:1200px;background:#fff}





/* Common Class */
.row {clear:both;min-width:1200px;margin:0 auto}
.cell {display:table-cell;width:100%;height:100%;vertical-align:middle}
.inner {clear:both;width:1200px;margin:0 auto}
.blind {display:block;overflow:hidden;visibility:hidden;text-indent:-9999px;font-size:0;height:0}
.ir {display:block}
.ir, .btn {overflow:hidden;text-indent:-9999px;font-size:0 !important}
.fl {float:left}
.fr {float:right}
.clear:before,.clear:after{content:' ';display:table}
.clear{*zoom:1}
.clear:after{clear:both}

.ipt_select, .ipt_keyword {height:38px;padding:0 0 0 10px;font-size:15px;line-height:38px;color:#8d8d8d;background:#fff;border:1px solid #d8d0c6;-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;transition:all .2s ease-in-out;}
.ipt_select.open, .ipt_select:active, .ipt_select:focus, .ipt_keyword:focus {border-color:#d0b6a9}
.ipt_radio {position:absolute;display:block;top:-1px;left:-1px;width:1px;height:1px;-webkit-appearance:none;-moz-appearance:none;-ms-appearance:none;-o-appearance:none;appearance:none}
.ipt_radio + .ipt_label_radio {position:relative;overflow:hidden;display:block;cursor:pointer}
.ipt_radio + .ipt_label_radio:before,
.selected .ipt_radio + .ipt_label_radio:after {position:absolute;display:block;top:50%;content:'';border:1px solid #94a0a9;
-webkit-border-radius:50%;
-moz-border-radius:50%;
-o-border-radius:50%}
.ipt_radio + .ipt_label_radio:before {lefT:0;width:13px;height:13px;margin-top:-7px}
.selected .ipt_radio + .ipt_label_radio:after {lefT:3px;width:7px;height:7px;margin-top:-4px;background:#db6006}
.btn_titMore {display:inline-block}
.btn_titMore > span {background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/spr_global.png') no-repeat 0 0}
.btn_titMore .txt {float:left}
.btn_titMore .more {width:13px;height:14px;background-position:-89px -632px}

/* TODO: 임시 display:none 처리 */
.u_skip {display:none}


/* Character Badge */
.characterBadge {position:relative;width:130px;height:130px;background-repeat:no-repeat}
<<<<<<< HEAD
.characterBadge .medal {position:absolute;bottom:3px;left:6px;width:41px;height:41px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/spr_global.png') no-repeat -468px 0}
.characterBadge .medal.gold {background-position:-468px 0}
.characterBadge .medal.silver {background-position:-468px -45px}
.characterBadge .medal.bronze {background-position:-468px -90px}
.characterBadge .btn_editCharacter {position:absolute;top:14px;right:6px;width:23px;height:23px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/spr_global.png') no-repeat -435px -114px}
=======
.characterBadge .medal {position:absolute;bottom:3px;left:6px;width:41px;height:41px;background:url('../img/spr_global.png') no-repeat -468px 0}
.characterBadge .medal.gold {background-position:-468px 0}
.characterBadge .medal.silver {background-position:-468px -45px}
.characterBadge .medal.bronze {background-position:-468px -90px}
.characterBadge .btn_editCharacter {position:absolute;top:14px;right:6px;width:23px;height:23px;background:url('../img/spr_global.png') no-repeat -435px -114px}
>>>>>>> d14bcd4cdc7efb4003d19a34f132dbafe99b7f0e










/* 캐릭터 딱지 기본 */
// #character .character_navi{position: absolute;bottom: 0;width: 100%;height: 116px;}
// #character .character_navi:after{position: absolute;bottom: 0;width: 100%;height: 100%;background-color: #000;opacity: .7;content: " ";z-index: 10;}
// #character .character_navi ul{position: absolute;top: 10px;left: 50%;width: 1200px;margin-left: -600px;z-index: 100;}
// #character .character_navi ul li{float: left;width: 92px;height: 92px;margin-left: 9px;background: url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/etc_character_thumb_2.png') no-repeat 0 0;-webkit-filter: grayscale(100%) brightness(60%) contrast(70%);filter: grayscale(100%) brightness(60%) contrast(70%);}
// #character .character_navi ul li.on{filter: none;}
// #character .character_navi ul li:nth-child(-2n+6){margin-left: 8px;}
// #character .character_navi ul li:first-child{margin-left: 0;}
// #character .character_navi ul li a{display: block;position: absolute;width: 100%;height: 100%;text-indent: -9999px;}



.characterBadge.elsword,
.characterBadge.aisha,
.characterBadge.rena,
.characterBadge.raven {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/spr_character1.png')}

.characterBadge.eve,
.characterBadge.chung,
.characterBadge.ara,
.characterBadge.elesis {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/spr_character2.png')}

.characterBadge.add,
.characterBadge.luciel,
.characterBadge.rose,
.characterBadge.ain {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/spr_character3.png')}

/* 엘소드 딱지 */
/* 기본: 1 */
.characterBadge.c1 {background-position:-9px 0}

/* 1_1 소드 나이트: 10 */
.characterBadge.c10 {background-position:-150px 0}

/* 1_2 매직 나이트: 11 */
.characterBadge.c11 {background-position:-150px -137px}

/* 1_3 시스 나이트: 22 */
.characterBadge.c22 {background-position:-150px -277px}

/* 2_1 로드 나이트: 100 */
.characterBadge.c100 {background-position:-292px 0}

/* 2_2 룬 슬레이어: 101 */
.characterBadge.c101 {background-position:-292px -137px}

/* 2_3 인피니티 소드: 112 */
.characterBadge.c112 {background-position:-292px -277px}

/* 3_1 나이트 엠퍼러: 150 */
// .characterBadge.c150 {background-position:}


/* 아이샤 딱지 */
/* 기본: 2 */
.characterBadge.c2 {background-position:-600px 0}

/* 1_1 하이 매지션: 14 */
.characterBadge.c14 {background-position:-739px 0}

/* 1_2 다크 매지션: 15 */
.characterBadge.c15 {background-position:-739px -137px}

/* 1_3 배틀 매지션: 23 */
.characterBadge.c23 {background-position:-739px -277px}

/* 2_1 엘레멘탈 마스터: 104 */
.characterBadge.c104 {background-position:-880px 0}

/* 2_2 보이드 프린세스: 105 */
/* TODO: Sprite Images 교체 필요 */
.characterBadge.c105 {background-position:-880px -137px}

/* 2_3 디멘션 위치: 113 */
.characterBadge.c113 {background-position:-880px -277px}

/* 3_1 에테르 세이지: 153 */
// .characterBadge.c153 {background-position:}



/* 레나 딱지 */
/* 기본: 3 */
.characterBadge.c3 {background-position:-9px -424px}

/* 1_1 컴벳 레인저: 12 */
.characterBadge.c12 {background-position:-150px -424px}

/* 1_2 스나이핑 레인저: 13 */
.characterBadge.c13 {background-position:-150px -563px}

/* 1_3 트래핑 레인저: 24 */
.characterBadge.c24 {background-position:-150px -702px}

/* 2_1 윈드 스니커: 102 */
/* TODO: Sprite Images 교체 필요 */
.characterBadge.c102 {background-position:-292px -424px}

/* 2_2 그랜드 아처: 103 */
.characterBadge.c103 {background-position:-292px -563px}

/* 2_3 나이트 와처: 114 */
/* TODO: Sprite Images 교체 필요 */
.characterBadge.c114 {background-position:-292px -702px}

/* 3_1 아네모스: 156 */
// .characterBadge.c156 {background-position:}


/* 레이븐 딱지 */
/* 기본: 4 */
.characterBadge.c4 {background-position:-600px -424px}

/* 1_1 소드 테이커: 16 */
.characterBadge.c16 {background-position:-738px -424px}

/* 1_2 오버 테이커: 17 */
.characterBadge.c17 {background-position:-738px -562px}

/* 1_3 웨폰 테이커: 25 */
.characterBadge.c25 {background-position:-738px -700px}

/* 2_1 블레이드 마스터: 106 */
.characterBadge.c106 {background-position:-880px -424px}

/* 2_2 레크리스 피스트: 107 */
.characterBadge.c107 {background-position:-880px -562px}

/* 2_3 베테랑 커맨더: 115 */
.characterBadge.c115 {background-position:-880px -700px}

/* 3_1 퓨리어스 블레이드: 159 */
.characterBadge.c159 {background-position:-1021px -424px}



/* 이브 딱지 */
/* 기본: 5 */
.characterBadge.c5 {background-position:-9px -11px}

/* 1_1 코드:액조틱: 18 */
.characterBadge.c18 {background-position:-151px -11px}

/* 1_2 코드:아키텍처: 19 */
.characterBadge.c19 {background-position:-151px -147px}

/* 1_3 코드:일렉트라: 26 */
.characterBadge.c26 {background-position:-151px -280px}

/* 2_1 코드:네메시스: 108 */
.characterBadge.c108 {background-position:-293px -11px}

/* 2_2 코드:엠프레스: 109 */
.characterBadge.c109 {background-position:-293px -147px}

/* 2_3 코드:배틀 세라프: 116 */
.characterBadge.c116 {background-position:-293px -280px}

/* 3_1 코드: 얼티메이트: 162 */
// .characterBadge.c162 {background-position:}


/* 청 딱지 */
/* 기본: 6 */
.characterBadge.c6 {background-position:-600px -11px}

/* 1_1 퓨리 가디언: 20 */
.characterBadge.c20 {background-position:-739px -11px}

/* 1_2 슈팅 가디언: 21 */
.characterBadge.c21 {background-position:-739px -148px}

/* 1_3 쉘링 가디언: 27 */
.characterBadge.c27 {background-position:-739px -281px}

/* 2_1 아이언 팔라딘: 110 */
.characterBadge.c110 {background-position:-880px -11px}

/* 2_2 데들리 체이서: 111 */
.characterBadge.c111 {background-position:-880px -148px}

/* 2_3 택티컬 트루퍼: 117 */
.characterBadge.c117 {background-position:-880px -281px}

/* 3_1 코멧 크루세이더: 165 */
// .characterBadge.c165 {background-position:}


/* 아라 딱지 */
/* 기본: 7 */
.characterBadge.c7 {background-position:-9px -424px}

/* 1_1 소선: 28 */
.characterBadge.c28 {background-position:-150px -424px}

/* 1_2 소마: 31 */
.characterBadge.c31 {background-position:-150px -566px}

/* 1_3 소요: 34 */
.characterBadge.c34 {background-position:-150px -703px}

/* 2_1 제천: 118 */
.characterBadge.c118 {background-position:-292px -424px}

/* 2_2 명왕: 119 */
.characterBadge.c119 {background-position:-292px -566px}

/* 2_3 수라: 124 */
.characterBadge.c124 {background-position:-292px -703px}

/* 3_1 비천: 168 */
// .characterBadge.c168 {background-position:}


/* 엘리시스 딱지 */
/* 기본: 8 */
.characterBadge.c8 {background-position:-600px -424px}

/* 1_1 세이버 나이트: 29 */
.characterBadge.c29 {background-position:-739px -424px}

/* 1_2 파이로 나이트: 30 */
.characterBadge.c30 {background-position:-739px -557px}

/* 1_3 다크 나이트: 35 */
.characterBadge.c35 {background-position:-739px -693px}

/* 2_1 그랜드 마스터: 120 */
.characterBadge.c120 {background-position:-880px -424px}

/* 2_2 블레이징 하트: 121 */
.characterBadge.c121 {background-position:-880px -557px}

/* 2_3 크림슨 어벤저: 125 */
.characterBadge.c125 {background-position:-880px -693px}

/* 3_1 엠파이어 소드: 171 */
// .characterBadge.c171 {background-position:}


/* 애드 딱지 */
/* 기본: 9 */
.characterBadge.c9 {background-position:-9px -3px}

/* 1_1 사이킥 트레이서: 32 */
.characterBadge.c32 {background-position:-150px -3px}

/* 1_2 아크 트레이서: 33 */
.characterBadge.c33 {background-position:-150px -138px}

/* 1_3 타임 트레이서: 36 */
.characterBadge.c36 {background-position:-150px -272px}

/* 2_1 루나틱 사이커: 122 */
.characterBadge.c122 {background-position:-292px -3px}

/* 2_2 마스터마인드: 123 */
.characterBadge.c123 {background-position:-292px -138px}

/* 2_3 디아볼릭 에스퍼: 126 */
.characterBadge.c126 {background-position:-292px -272px}

/* 3_1 둠 브링어: 174 */
// .characterBadge.c174 {background-position:}


/* 루시엘 딱지 */
/* 기본: 200 */
.characterBadge.c200 {background-position:-600px -3px}

/* 1_1 킬리아크: 37 */
.characterBadge.c37 {background-position:-739px -3px}

/* 1_2 로열 가드: 38 */
.characterBadge.c38 {background-position:-739px -138px}

/* 1_3 디아블라: 39 */
.characterBadge.c39 {background-position:-739px -271px}

/* 2_1 드레드로드: 127 */
.characterBadge.c127 {background-position:-880px -3px}

/* 2_2 노블레스: 128 */
.characterBadge.c128 {background-position:-880px -138px}

/* 2_3 데모니오: 129 */
.characterBadge.c129 {background-position:-880px -271px}

/* 3_1 카타스트로피: 177 */
// .characterBadge.c177 {background-position:}


/* 로제 딱지 */
/* 기본: 201 */
.characterBadge.c201 {background-position:-9px -414px}

/* 1_1 헤비 배럴: 41 */
.characterBadge.c41 {background-position:-150px -414px}

/* 1_2 블러디아: 40 */
.characterBadge.c40 {background-position:-150px -547px}

/* 1_3 발키리: 43 */
.characterBadge.c43 {background-position:-150px -683px}

/* 1_4 메탈 하트: 42 */
.characterBadge.c42 {background-position:-150px -821px}


/* 2_1 스톰 트루퍼: 131 */
.characterBadge.c131 {background-position:-292px -414px}

/* 2_2 크림슨 로제: 130 */
.characterBadge.c130 {background-position:-292px -547px}

/* 2_3 프레이야: 133 */
.characterBadge.c133 {background-position:-292px -683px}

/* 2_4 옵티머스: 132 */
.characterBadge.c132 {background-position:-292px -821px}


/* 3_1 템페스트 버스터: 180 */
// .characterBadge.c180 {background-position:}


/* 아인 딱지 */
/* 기본: 202 */
.characterBadge.c202 {background-position:-600px -414px}


/* 1_1 롭티:익스큐터: 44 */
.characterBadge.c44 {background-position:-739px -414px}

/* 1_2 롭티:엔파서: 45 */
.characterBadge.c45 {background-position:-739px -549px}

/* 1_3 롭티:원더러: 46 */
.characterBadge.c46 {background-position:-739px -682px}

/* 2_1 아메 서머터지: 134 */
.characterBadge.c134 {background-position:-880px -414px}

/* 2_2 에브루헨 아모치온: 135 */
/* TODO: Sprite Images 교체 필요 */
.characterBadge.c135 {background-position:-880px -549px}

/* 2_3 아포스타시아: 136 */
.characterBadge.c136 {background-position:-880px -682px}

/* 3_1 리히터: 184 */
// .characterBadge.c184 {background-position:}


/* Text Hidden */
.btn_login,
.btn_logout,
.btn_gameStart,
.btn_editCharacter,
.btn_gameDownload,
.medal,
.btn_titMore > span,
.wrap_ucc .ucc .tit,
.ucc_item .lists li .category > a,
.wrap_side .side_survey .survey .status,
.wrap_side .socialMedia_links .lists > li > a,
.wrap_banner .owl-nav > div,
.wrap_issue .subject .ico,
.rk_search .rk_tit,
.b_subject .subject .ico,
.bv_subject .subject .ico,
.b_info .ico,
li.notice .b_author .author,
#header .logo a,
#header .gnb > li > a,
#header .gnb > li > a > .pointer,
#header .gnb_sub li.eventCalendar > a,
#footer .terms .identity li > a,
#footer .aside .asnb > li > a {display:block;overflow:hidden;text-align:left;text-indent:-9999px;font-size:0;line-height:0}
