/* Header */
#header {position:absolute;overflow:hidden;width:100%;height:300px}
#header .inner {position:absolute;top:0;left:50%;width:2560px;margin-left:-1280px;z-index:30}
#header .logo {position:absolute;top:35px;left:50%;margin-left:-100px}
#header .logo a {width:201px;height:68px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/logo.png') no-repeat 0 0}
#header .nav {height:110px}
#header .gnb {overflow:hidden;width:1200px;height:25px;margin:66px auto 0}
#header .gnb > li {position:relative;float:left;width:120px}
#header .gnb > li > a {height:22px;margin:0 auto;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/spr_global.png') no-repeat 0 0}
#header .gnb > li > a > .pointer {opacity:0;position:absolute;top:37px;left:50%;width:0;height:7px;margin-left:-40px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/spr_global.png') no-repeat -14px -527px}
#header .gnb > li.event > a > .pointer {margin-left:-42px}
#header .gnb > li.gameinfo > a > .pointer,
#header .gnb > li.ucc > a > .pointer {margin-left:-52px;background-position:-4px -548px}
#header .gnb > li.issue {width:108px}
#header .gnb > li.issue > a {width:72px;background-position:-20px -8px}
#header .gnb > li.event {width:135px}
#header .gnb > li.event > a {width:55px;background-position:-28px -66px}
#header .gnb > li.gameinfo > a {width:92px;background-position:-10px -125px}
#header .gnb > li.ranking > a {width:35px;background-position:-38px -183px}
#header .gnb > li.ucc {width:138px;margin:0 0 0 234px}
#header .gnb > li.ucc > a {width:97px;background-position:-7px -242px}
#header .gnb > li.community {width:128px}
#header .gnb > li.community > a {width:72px;background-position:-20px -300px}
#header .gnb > li.pds {width:97px}
#header .gnb > li.pds > a {width:55px;background-position:-28px -359px}
#header .gnb > li.help > a {width:73px;background-position:-19px -417px}
#header .gnb > li.active > a > .pointer,
#header .gnb > li:hover > a > .pointer {width:84px}
#header .gnb > li.gameinfo.active > a > .pointer,
#header .gnb > li.ucc.active > a > .pointer,
#header .gnb > li.gameinfo:hover > a > .pointer,
#header .gnb > li.ucc:hover > a > .pointer {width:104px}
#header .gnb_sub {opacity:0;height:0;margin:16px 0 0 0;padding:16px 0 0 0;border-top:2px solid #d8d8d8}
#header .gnb_sub li {text-align:center}
#header .gnb_sub li > a {padding:7px 0 8px;font-size:13px;line-height:30px;color:#666}
#header .gnb_sub li > a:hover, #header .gnb_sub li.current > a {color:#e65700}
#header .gnb_sub li.eventCalendar > a {width:83px;height:38px;margin:19px auto 0;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/spr_global.png') no-repeat -14px -474px}
#header nav.white {height:127px;background:#fff}
#header .nav.on {height:300px;background:#fff}
#header .nav.on .gnb {height:100%;margin:0 auto;padding:39px 0 0 0}
#header .nav.on .gnb > li {height:100%}
#header .nav.on .gnb > li > a > .pointer {opacity:1}
#header .white .gnb > li.issue > a,
#header .nav.on .gnb > li.issue > a {background-position:-20px -34px}
#header .white .gnb > li.event > a,
#header .nav.on .gnb > li.event > a {background-position:-28px -92px}
#header .white .gnb > li.gameinfo > a,
#header .nav.on .gnb > li.gameinfo > a {background-position:-10px -151px}
#header .white .gnb > li.ranking > a,
#header .nav.on .gnb > li.ranking > a {background-position:-38px -209px}
#header .white .gnb > li.ucc > a,
#header .nav.on .gnb > li.ucc > a {background-position:-7px -268px}
#header .white .gnb > li.community > a,
#header .nav.on .gnb > li.community > a {background-position:-20px -326px}
#header .white .gnb > li.pds > a,
#header .nav.on .gnb > li.pds > a {background-position:-28px -385px}
#header .white .gnb > li.help > a,
#header .nav.on .gnb > li.help > a {background-position:-19px -443px}
#header .nav.on .gnb_sub {opacity:1;height:auto}
#header .nav,
#header .gnb,
#header .gnb > li,
#header .gnb > li > a {
-webkit-transition: all 250ms ease-in-out;
-moz-transition: all 250ms ease-in-out;
transition: all 250ms ease-in-out;
}
#header .gnb_sub,
#header .gnb_sub > li,
#header .gnb_sub > li > a {
-webkit-transition: all 400ms ease;
-moz-transition: all 400ms ease;
transition: all 400ms ease;
}
#header .gnb > li > a > .pointer {
-webkit-transition: all 350ms ease 200ms;
-moz-transition: all 350ms ease 200ms;
transition: all 350ms ease 200ms;
}
