/* Promotion */
.wrap_banner {position:relative;overflow:hidden;height:580px;background:#1b1b1b}
.wrap_banner .banner {position:absolute;left:50%;overflow:hidden;width:2560px;height:580px;margin-left:-1280px}
.wrap_banner .banner_item {height:580px;text-align:center}
.wrap_banner .banner_item > a {display:inline-block}
.wrap_banner .owl-nav {position:relative;width:1200px;margin:200px auto 0}
.wrap_banner .owl-nav > div {position:absolute;top:0;width:145px;height:263px;background:url('../img/spr_global.png') no-repeat 0 0;z-index:5}
.wrap_banner .owl-nav .owl-prev {left:-155px;background-position:-135px -485px}
.wrap_banner .owl-nav .owl-next {right:-155px;background-position:-314px -485px}
.wrap_banner .owl-dots {position:relative;width:1200px;height:0;margin:504px auto 0;padding:0 0 0 8px;z-index:3}
.wrap_banner .owl-dots .owl-dot {float:left;margin:0 0 0 12px}
.wrap_banner .owl-dots .owl-dot > span {display:block;width:19px;height:19px;background:url('../img/spr_global.png') no-repeat -386px -95px}
.wrap_banner .owl-dots .owl-dot.active > span {background-position:-409px -95px}

/* Main */
#main {position:relative}

/* HOT Item */
.wrap_goods {position:absolute;top:-294px;right:50%;width:400px;height:470px;margin-right:-600px;z-index:2}

/* Login */
#login.box {width:364px;height:104px;margin:12px 0 0 0;background:url('../img/bg_login.png') no-repeat 0 0}
#logged.box {height:130px;margin:7px 0 0 0}
.wrap_information {height:180px;padding:35px 0 0 0;background:url('../img/bg_main_login.jpg') repeat-x 0 0}
.wrap_information .inner {position:relative}
.wrap_information .box {float:left}
.wrap_information .box .btn_login {width:340px;height:55px;margin:9px auto 8px;background:url('../img/btn_login.jpg') no-repeat 0 0}
.wrap_information .box .login_menu {height:30px;text-align:center}
.wrap_information .box .login_menu > li {display:inline-block;font-size:14px;line-height:30px;color:#9398ad}
.wrap_information .box .login_menu > li:before {display:inline-block;content:'|';margin:0 8px 0 5px}
.wrap_information .box .login_menu > li:first-child:before {display:none}
.wrap_information .box .login_menu > li > a {color:inherit}
.wrap_information .box .login_menu > li.join > a {color:#e37e58}
.wrap_information .box .myCharacter {float:left;width:130px}
.wrap_information .box .myInfo {width:440px;margin:16px 0 0 0;padding:0 0 0 138px}
.wrap_information .box .myInfo .txts {height:76px;margin:0 0 6px 0;padding:0 0 5px 0;border-bottom:1px solid #ccc}
.wrap_information .box .myInfo .txts .greeting {margin:0 0 7px 0;font-size:13px;line-height:18px;color:#888}
.wrap_information .box .myInfo .txts .greeting strong {margin:0 2px 0 0;font-size:14px;color:#e7652d}
.wrap_information .box .myInfo .txts .information {font-size:12px;line-height:18px;color:#595959}
.wrap_information .box .myInfo .txts .information.guild {color:#a8a8a8}
.wrap_information .box .myInfo .logged_menu {height:26px}
.wrap_information .box .myInfo .logged_menu > li {position:relative;float:left;margin:0 0 0 22px;font-size:12px;line-height:22px;color:#595959}
.wrap_information .box .myInfo .logged_menu > li:first-child {margin:0 0 0 13px}
.wrap_information .box .myInfo .logged_menu > li:before {position:absolute;top:9px;left:-10px;display:block;content:'';width:5px;height:5px;border-radius:50%;background:#e7652d}
.wrap_information .box .myInfo .logged_menu > li > a {color:inherit}
.wrap_information .box .myInfo .logged_menu > li.logout {margin:0 0 0 12px}
.wrap_information .box .myInfo .logged_menu > li.logout > a {margin:0 0 0 0}
.wrap_information .box .myInfo .logged_menu > li.logout:before {display:none}
.wrap_information .box .myInfo .logged_menu .btn_logout {width:69px;height:23px;background:url('../img/btn_logout.png') no-repeat 0 0}

/* Game Start */
.wrap_information .gameStart {position:absolute;top:-72px;left:397px;z-index:3}
.wrap_information .gameStart .btn_gameStart {width:400px;height:240px;background:url('../img/btn_gameStart.jpg') no-repeat 0 0}

/* Notice, GM Megaphone, Animation Banner */
.wrap_issue {height:400px;padding:56px 0 0 0;background:#fff}
.wrap_issue .issue_notice {float:left;width:570px}
.wrap_issue .issue_notice .tit {position:relative;height:48px;margin:0 0 13px 0;padding:10px 0 0 0;border-bottom:1px solid #cdcdcd}
.wrap_issue .issue_notice .tit:after {position:absolute;content:'';bottom:-1px;left:0;width:122px;height:1px;background:#b70000}
.wrap_issue .issue_notice .tit .txt {width:114px;height:23px;background-position:-1px -564px}
.wrap_issue .issue_notice .tit .more {margin:4px 0 0 129px}
.wrap_issue .issue_notice .lists li {overflow:hidden}
.wrap_issue .issue_notice .lists li > a {float:left;overflow:hidden;display:block;max-width:475px;height:36px}
.wrap_issue .issue_notice .lists li .subject {font-size:17px;font-weight:normal;line-height:36px;color:#414141}

/* TODO: NEW, HOT 아이콘 삽입할 것 */
.wrap_issue .issue_notice .lists li .subject .ico {}
.wrap_issue .issue_notice .lists li .subject .ico.new {}
.wrap_issue .issue_notice .lists li .date {float:right;font-size:13px;line-height:36px;color:#888}
.wrap_issue .issue_megaphone .owl-carousel.megaphone {overflow:hidden;width:288px;height:288px}
.issue_megaphone, .issue_banner {position:relative;float:left;width:288px;height:288px}
.issue_megaphone {margin:0 0 0 29px}
.issue_banner {margin:0 0 0 25px}
.megaphone_item {height:288px}
.megaphone_item, .banner_item {position:absolute;overflow:hidden;top:0;left:0;width:100%}
.megaphone_item > a, .banner_item > a {display:block}
.megaphone_item .thumb, .banner_item .thumb {width:100%;height:100%}
.megaphone_item .thumb img {width:100%;height:100%}
.megaphone_item .des {position:absolute;bottom:0;left:0;width:100%;padding:23px 12px 13px;text-align:center;background:rgba(0, 0, 0, .8)}
.megaphone_item .des .tit {position:absolute;top:-13px;left:50%;background:#b70000;width:90px;height:28px;margin:0 0 0 -45px;font-size:13px;line-height:28px;color:#ffc6c6}
.megaphone_item .des .subject {margin:0 0 4px 0;font-size:18px;line-height:22px;color:#fff}
.megaphone_item .des p {font-size:13px;color:#888}

/* UCC */
.wrap_ucc {height:462px;background:url('../img/bg_main_ucc.jpg') repeat-x 0 0}
.wrap_ucc .ucc .tit {width:190px;height:85px;margin:0 auto;background:url('../img/spr_global.png') no-repeat -465px -479px}
.wrap_ucc .ucc .owl-carousel.ucc {overflow:hidden;width:1200px;margin:0 auto}
.wrap_ucc .owl-dots {position:relative;width:1200px;height:15px;margin:28px auto 0;text-align:center;z-index:3}
.wrap_ucc .owl-dots .owl-dot {display:inline-block;margin:0 0 0 12px}
.wrap_ucc .owl-dots .owl-dot:first-child {margin:0}
.wrap_ucc .owl-dots .owl-dot > span {display:block;width:13px;height:15px;background:url('../img/spr_global.png') no-repeat -410px -75px}
.wrap_ucc .owl-dots .owl-dot.active > span {background-position:-388px -75px}
.ucc_item {width:1200px;margin:0 auto}
.ucc_item .lists {height:310px}
.ucc_item .lists li {position:relative;float:left;overflow:hidden;margin:0 0 0 20px}
.ucc_item .lists li:first-child {margin:0}
.ucc_item .lists li .category {position:absolute;content:'';top:0;left:0;z-index:4}
.ucc_item .lists li .category > a {width:72px;height:72px;background:url('../img/spr_global.png') no-repeat 0 0}
.ucc_item .lists li > a {display:block}
.ucc_item .lists li > a:hover .des {opacity:1}
.ucc_item .lists li .des {opacity:0;display:table;position:absolute;top:0;left:0;width:285px;height:310px;border-width:4px;border-style:solid;text-align:center;background:rgba(0, 0, 0, 0.8);z-index:2;
-webkit-transition: opacity 350ms ease;
-moz-transition: opacity 350ms ease;
transition: opacity 350ms ease;}
.ucc_item .lists li .des .cell {vertical-align:bottom;padding:0 10px 102px 10px}
.ucc_item .lists li .des .subject {margin:0 0 26px 0;font-size:16px;font-weight:normal;line-height:21px;color:#fff}
.ucc_item .lists li .des .author {position:relative;display:inline-block;font-size:14px;color:#fff}
.ucc_item .lists li .des .author:before {position:absolute;content:'';top:-12px;left:50%;width:32px;height:4px;margin-left:-16px;background:#fff}
.ucc_item .lists li.screenshot .category > a {background-position:-562px 0}
.ucc_item .lists li.video .category > a {background-position:-562px -82px}
.ucc_item .lists li.fanart .category > a {background-position:-562px -164px}
.ucc_item .lists li.cartoon .category > a {background-position:-562px -246px}
.ucc_item .lists li.screenshot .category > a:hover {background-position:-643px 0}
.ucc_item .lists li.video .category > a:hover {background-position:-643px -82px}
.ucc_item .lists li.fanart .category > a:hover {background-position:-643px -164px}
.ucc_item .lists li.cartoon .category > a:hover {background-position:-643px -246px}
.ucc_item .lists li.screenshot > a .des {border-color:#d62e2e}
.ucc_item .lists li.video > a .des {border-color:#ec5e00}
.ucc_item .lists li.fanart > a .des {border-color:#8d2ed6}
.ucc_item .lists li.cartoon > a .des {border-color:#42a950}
.ucc_item .lists li.screenshot > a .des .author {color:#d62e2e}
.ucc_item .lists li.video > a .des .author {color:#ec5e00}
.ucc_item .lists li.fanart > a .des .author {color:#8d2ed6}
.ucc_item .lists li.cartoon > a .des .author {color:#42a950}
.ucc_item .lists li.screenshot > a .des .author:before {background-color:#d62e2e}
.ucc_item .lists li.video > a .des .author:before {background-color:#ec5e00}
.ucc_item .lists li.fanart > a .des .author:before {background-color:#8d2ed6}
.ucc_item .lists li.cartoon > a .des .author:before {background-color:#42a950}

/* Main Bottom(Aside) */
.wrap_side {height:345px;padding:52px 0 0 0;background:#fff}

/* Official Cartoon */
.wrap_side .side_officialCartoon {float:left;margin:0 22px 0 0}
.wrap_side .side_officialCartoon .tit {height:42px;margin:0 0 19px 0;padding:9px 0 0 0;border-bottom:1px solid #d4d4d4}
.wrap_side .side_officialCartoon .tit .txt {width:79px;height:20px;background-position:-1px -629px}
.wrap_side .side_officialCartoon .tit .more {margin:3px 0 0 95px}
.wrap_side .side_officialCartoon .lists {width:400px}
.wrap_side .side_officialCartoon .lists li {position:relative;float:left}
.wrap_side .side_officialCartoon .lists li:first-child {margin:0 12px 0 0}
.wrap_side .side_officialCartoon .lists li > a {display:block;width:192px;height:162px;border:1px solid #ddd}
.wrap_side .side_officialCartoon .lists li > a .des {position:absolute;bottom:1px;left:1px;width:190px;height:28px;text-align:center;background:rgba(0, 0, 0, 0.8)}
.wrap_side .side_officialCartoon .lists li > a .des .author {font-size:12px;line-height:28px;color:#ededed}
.wrap_side .side_officialCartoon .lists li > a .des .author > strong {font-weight:bold;color:#a5a5a5;margin:0 5px 0 0}

/* Survey */
.wrap_side .side_survey {float:left}
.wrap_side .side_survey .tit {height:42px;margin:0 0 1px 0;padding:9px 0 0 0;border-bottom:1px solid #d4d4d4}
.wrap_side .side_survey .tit .txt {width:74px;height:20px;background-position:-1px -657px}
.wrap_side .side_survey .tit .more {margin:3px 0 0 90px}
.wrap_side .side_survey .survey {width:466px;height:180px;background:url('../img/bg_survey.jpg') no-repeat 0 0}
.wrap_side .side_survey .survey > a {display:block;color:#fff}
.wrap_side .side_survey .survey > a .des {position:relative;display:table;width:285px;height:180px}
.wrap_side .side_survey .survey > a .des .cell {padding:62px 20px 0;text-align:center}
.wrap_side .side_survey .survey > a .des .subject {margin:0 0 10px 0;font-size:14px;line-height:18px;color:#fff}
.wrap_side .side_survey .survey > a .des .date {display:inline-block;padding:0 20px;font-size:13px;line-height:25px;color:#9cb4c8;background:#616a71}
.wrap_side .side_survey .survey .status {position:absolute;top:31px;right:-150px;width:119px;height:119px;background:url('../img/spr_global.png') no-repeat -262px -75px}
.wrap_side .side_survey .survey .status.ing {background-position:-136px -75px}
.wrap_side .side_survey .survey .status.end {background-position:-262px -75px}

/* Social Media */
.wrap_side .side_socialMedia {float:right}
.wrap_side .side_socialMedia .socialMedia_links {margin:0 0 9px 0}
.wrap_side .side_socialMedia .socialMedia_links .lists {overflow:hidden}
.wrap_side .side_socialMedia .socialMedia_links .lists > li {float:left;margin:0 0 0 10px}
.wrap_side .side_socialMedia .socialMedia_links .lists > li:first-child {margin:0}
.wrap_side .side_socialMedia .socialMedia_links .lists > li > a {width:89px;height:66px;background:url('../img/spr_global.png') no-repeat 0 0}
.wrap_side .side_socialMedia .socialMedia_links .lists > li.fb > a {background-position:-139px 0}
.wrap_side .side_socialMedia .socialMedia_links .lists > li.tw > a {background-position:-237px 0}
.wrap_side .side_socialMedia .socialMedia_links .lists > li.nv > a {background-position:-336px 0}

/* Social Media - Youtube */
.wrap_side .side_socialMedia .socialMedia_youtube {width:287px;height:147px;background:#6f7981}
