/* Promotion */
.wrap_banner.sub {position:relative;overflow:hidden;height:460px;background:#1b1b1b}
.wrap_banner.sub .banner {position:absolute;left:50%;overflow:hidden;width:2560px;height:460px;margin-left:-1280px}
.wrap_banner.sub .banner_item {position:absolute;overflow:hidden;top:0;left:0;width:100%;height:460px;text-align:center}
.wrap_banner.sub .banner_item > a {display:inline-block}
.wrap_banner.sub .owl-dots {position:relative;width:1200px;height:0;margin:400px auto 0;padding:0 0 0 8px;z-index:3}
.wrap_banner.sub .owl-dots .owl-dot {float:left;margin:0 0 0 12px}
.wrap_banner.sub .owl-dots .owl-dot > span {display:block;width:19px;height:19px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/spr_global.png') no-repeat -386px -95px}
.wrap_banner.sub .owl-dots .owl-dot.active > span {background-position:-409px -95px}

/* Game Start */
.sub .wrap_information {height:145px;padding:35px 0 0 0;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/common/bg_main_login.jpg') repeat-x 0 0}
.sub .wrap_information .inner {position:relative}
.sub .wrap_information .gameStart {position:absolute;top:-160px;left:397px;z-index:3}
.sub .wrap_information .gameStart .btn_gameStart {width:400px;height:165px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/gamestart/btn_gameStart.png') no-repeat 0 0}
.sub .wrap_information .gameStart .btn_gameStartDownload {width:400px;height:75px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/gamestart/btn_gameStart.png') no-repeat 0 -165px}
.sub .wrap_information .gameStart .motions {position:relative;display:block;width:400px;height:165px}
.sub .wrap_information .gameStart .motions .mo {position:absolute;display:block;transition:all ease .3s;
-webkit-animation:stop 1200ms normal forwards;
-moz-animation:stop 1200ms normal forwards;
-o-animation:stop 1200ms normal forwards;
animation:stop 1200ms normal forwards;
}
.sub .wrap_information .gameStart .motions .mo.g {top:34px;left:84px;width:57px;height:60px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/gamestart/img_game_g.png') no-repeat 0 0}
.sub .wrap_information .gameStart .motions .mo.a {top:26px;left:140px;width:52px;height:69px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/gamestart/img_game_a.png') no-repeat 0 0}
.sub .wrap_information .gameStart .motions .mo.m {top:25px;left:197px;width:61px;height:55px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/gamestart/img_game_m.png') no-repeat 0 0}
.sub .wrap_information .gameStart .motions .mo.e {top:28px;left:265px;width:42px;height:55px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/gamestart/img_game_e.png') no-repeat 0 0}
.sub .wrap_information .gameStart .motions .mo.s {top:94px;left:122px;width:32px;height:48px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/gamestart/img_start_s.png') no-repeat 0 0}
.sub .wrap_information .gameStart .motions .mo.t {top:94px;left:152px;width:39px;height:48px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/gamestart/img_start_t.png') no-repeat 0 0}
.sub .wrap_information .gameStart .motions .mo.a2 {top:92px;left:188px;width:40px;height:55px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/gamestart/img_start_a.png') no-repeat 0 0}
.sub .wrap_information .gameStart .motions .mo.r {top:91px;left:231px;width:44px;height:55px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/gamestart/img_start_r.png') no-repeat 0 0}
.sub .wrap_information .gameStart .motions .mo.t2 {top:90px;left:270px;width:39px;height:48px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/gamestart/img_start_t2.png') no-repeat 0 0}
.sub .wrap_information .btn_gameStart:hover .motions .mo {
-webkit-animation:updown 1000ms infinite 1000ms;
-moz-animation:updown 1000ms infinite 1000ms;
-o-animation:updown 1000ms infinite 1000ms;
animation:updown 1000ms infinite 1000ms
}
.sub .wrap_information .btn_gameStart:hover .motions .mo.g {animation-delay:200ms;-webkit-animation-delay:200ms}
.sub .wrap_information .btn_gameStart:hover .motions .mo.a {animation-delay:400ms;-webkit-animation-delay:400ms}
.sub .wrap_information .btn_gameStart:hover .motions .mo.m {animation-delay:300ms;-webkit-animation-delay:300ms}
.sub .wrap_information .btn_gameStart:hover .motions .mo.e {animation-delay:500ms;-webkit-animation-delay:500ms}
.sub .wrap_information .btn_gameStart:hover .motions .mo.s {animation-delay:600ms;-webkit-animation-delay:600ms}
.sub .wrap_information .btn_gameStart:hover .motions .mo.t {animation-delay:900ms;-webkit-animation-delay:900ms}
.sub .wrap_information .btn_gameStart:hover .motions .mo.a2 {animation-delay:700ms;-webkit-animation-delay:700ms}
.sub .wrap_information .btn_gameStart:hover .motions .mo.r {animation-delay:1000ms;-webkit-animation-delay:1000ms}
.sub .wrap_information .btn_gameStart:hover .motions .mo.t2 {animation-delay:800ms;-webkit-animation-delay:800ms}

@-webkit-keyframes updown {
0% {
transform: translateY(0);
-webkit-transform: translateY(0);
animation-timing-function: ease;
}
50% {
transform: translateY(-4px);
-webkit-transform: translateY(-4px);
animation-timing-function: ease;
}
100% {
transform: translateY(0);
-webkit-transform: translateY(0);
animation-timing-function: ease;
}
}
@keyframes updown {
0% {
transform: translateY(0);
-webkit-transform: translateY(0);
animation-timing-function: ease;
}
50% {
transform: translateY(-4px);
-webkit-transform: translateY(-4px);
animation-timing-function: ease;
}
100% {
transform: translateY(0);
-webkit-transform: translateY(0);
animation-timing-function: ease;
}
}

@-webkit-keyframes stop {
0% {
transform: translateY(-2px);
-webkit-transform: translateY(-2px);
animation-timing-function: ease;
}
50% {
transform: translateY(-4px);
-webkit-transform: translateY(-4px);
animation-timing-function: ease;
}
100% {
transform: translateY(0);
-webkit-transform: translateY(0);
animation-timing-function: ease;
}
}
@keyframes stop {
0% {
transform: translateY(-2px);
-webkit-transform: translateY(-2px);
animation-timing-function: ease;
}
50% {
transform: translateY(-4px);
-webkit-transform: translateY(-4px);
animation-timing-function: ease;
}
100% {
transform: translateY(0);
-webkit-transform: translateY(0);
animation-timing-function: ease;
}
}

/* Contents Container */
.wrap_cont:after {clear:both;display:table;content:'';*zoom:1}

/* Contents Header */
.wrap_cont .cont_header {min-height:30px}
.cont_header .titles {float:left;margin:0 0 12px 0}
.cont_header .titles .tit {float:left;margin:-20px 20px 0 0;font-size:35px;color:#3a312a;letter-spacing:-1px}
.cont_header .titles .category {float:left;overflow:hidden}
.cont_header .titles .category > li {position:relative;float:left;padding:0 15px;font-size:16px;color:#444;letter-spacing:-0.5px}
.cont_header .titles .category > li:first-child:before {left:0}
.cont_header .titles .category > li:after {right:0;}
.cont_header .titles .category > li:first-child:before,
.cont_header .titles .category > li:after {position:absolute;display:block;content:'';top:50%;width:1px;height:11px;margin-top:-5px;background:#b4b4b4}
.cont_header .titles .category > li.on {color:#e65700}
.cont_header .titles .category > li > a {color:inherit}
.cont_header .des {float:right;margin:6px 0 0 0}
.cont_header .des > p {position:relative;padding:0 0 0 22px;font-size:13px;color:#888;letter-spacing:-0.5px}
.cont_header .des > p:before {position:absolute;display:block;content:'';top:0;left:1px;width:19px;height:17px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/spr_global.png') no-repeat -389px -120px}

/* Contents Body */
.wrap_cont .cont_body {margin:0 0 36px 0}

/* Contents Footer */
.wrap_cont .cont_footer {}
.cont_footer .b_btns {margin-bottom:31px;text-align:center}
.cont_footer .b_btns .btn,
.cont_footer .b_search_form .btn {display:inline-block;*display:inline;zoom:1;background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/spr_asset.png');background-repeat:no-repeat}
.cont_footer .b_search_form .btn {cursor:pointer}
.cont_footer .b_paging {margin-bottom:42px}
.cont_footer .b_search {height:100px;padding:33px 0 0 0;background:#f7f7f7;text-align:center}
.cont_footer .b_search .b_search_form {width:843px;height:38px;margin:0 auto}
.cont_footer .b_search .b_search_form .iptBox_select {float:left;width:140px}
.cont_footer .b_search .b_search_form .iptBox_search {float:left;margin-left:4px}
.cont_footer .b_search .b_search_form .iptBox_search .ipt_keyword {float:left;width:482px;margin:0 4px 0 0}
.cont_footer .b_search .b_search_form .iptBox_search .btn.search {float:left}
.cont_footer .b_search .b_search_form .iptBox_search .btn.listAll {float:right;margin:0 0 0 3px}
