@charset "UTF-8";

/* Board List: Type Default */
#boardList {}
.board_list {border-bottom:2px solid #acacac}
.board_list:after {clear:both;display:table;content:'';*zoom:1}
.board_list.default .b_subject {width:735px}
.board_list.default .b_author {width:205px}
.board_list.default .b_date {width:140px}
.board_list.default .b_hit {width:120px}

.board_list > li {display:table;width:100%;min-height:60px;padding:22px 0 19px;border-top:1px solid #ccc}
.board_list > li:first-child {border-width:2px}
.board_list > li.notice {background:#f2f2f2}
.board_list > li.notice:first-child {border-top:2px solid #acacac}
.board_list > li.notice .b_subject {width:940px}
.board_list > li.notice .b_subject .subject_header .category:after {display:none}
.board_list > li.label {height:64px;border-top:2px solid #acacac;border-bottom:1px solid #acacac}
.board_list > li > div {display:table-cell;padding:0 20px;vertical-align:middle}
.board_list > li.label > div {text-align:center;font-size:16px;color:#444}
.board_list .b_subject .subject_header {overflow:hidden;margin:0 0 3px 0}
.board_list .b_subject .subject_header > span {float:left;margin:0 8px 0 0;font-size:12px;line-height:14px}
.board_list .b_subject .subject_header .category {color:#e65700}
.board_list .b_subject .subject_header .category:after {float:right;content:'';width:1px;height:9px;margin:3px 0 0 8px;background:#989898}
.board_list .b_subject .subject_header .num {color:#888}
.board_list .b_subject .subject {clear:both}
.board_list .b_subject .subject:after {clear:both;display:table;content:'';*zoom:1}
.board_list .b_subject .subject > a {float:left;overflow:hidden;max-width:500px;word-break:break-all;white-space:nowrap;text-overflow:ellipsis;font-size:16px;line-height:21px;color:#444}
.board_list .b_subject .subject > span {float:left;margin:0 0 0 3px;line-height:21px}
.board_list .b_subject .subject .cmt {margin:0 3px 0 6px;color:#e65700}
/* 새 글이면, new / 모바일이면 mobile / 그림있으면 pic */
.board_list .b_subject .subject .ico {width:19px;height:19px;background:url('../img/spr_asset.png') no-repeat 0 0}
.board_list .b_subject .subject .ico.new {background-position:-326px -85px}
.board_list .b_subject .subject .ico.mobile {background-position:-350px -85px}
.board_list .b_subject .subject .ico.pic {background-position:-374px -85px}
.board_list .b_author {position:relative;padding:0 20px 0 50px}
.board_list .b_author .medal {position:absolute;top:50%;left:20px;width:24px;height:34px;margin:-16px 0 0 0;background:url('../img/spr_global.png') no-repeat 0 0}
.board_list .b_author .medal.gold {background-position:-434px 0}
.board_list .b_author .medal.silver {background-position:-434px -38px}
.board_list .b_author .medal.bronze {background-position:-434px -76px}
.board_list .b_author .author_header {overflow:hidden;margin:0 0 3px 0}
.board_list .b_author .author_header > span {float:left;margin:0 8px 0 0;font-size:12px;line-height:14px}
.board_list .b_author .author_header .server {color:#06a545}
.board_list .b_author .author_header .level {color:#888}
.board_list .b_author .author_header .level:before {float:left;content:'';width:1px;height:9px;margin:3px 7px 0 0;background:#989898}
.board_list .b_author .nickname {font-size:14px;line-height:19px;color:#444}
.board_list .b_date, .board_list .b_hit {font-size:16px;text-align:center}
.board_list .b_date .date {color:#888}
.board_list .b_hit .hit {color:#e65700}
.board_list .b_thumb .thumb,
.board_list .b_thumb .thumb > a,
.board_list .b_thumb .thumb > a > img {display:block;width:100%;height:100%}

/* Board Buttons */
.b_btns .btn.write {width:420px;height:69px;background-position:0 -300px}
.b_btns .btn.vote {width:421px;height:69px;background-position:-423px -300px}
.b_btns .btn.submit {width:419px;height:69px;background-position:0 -376px}
.b_btns .btn.like {width:421px;height:69px;background-position:-423px -376px}
.b_btns .btn.list {width:420px;height:69px;background-position:0 -453px}
.b_btns .btn.modify {width:421px;height:69px;background-position:-423px -453px}
.b_search_form .btn.search {width:105px;height:38px;background-position:-225px 0}

/* Board Paging */
.b_paging {overflow:hidden;height:50px;text-align:center}
.b_paging .paging {display:inline-block;*display:inline;zoom:1}
.b_paging .paging > li {position:relative;float:left}
.b_paging .paging > li,
.b_paging .paging > li > a {display:block}
.b_paging .paging > li.num:before {position:absolute;display:block;top:50%;left:-1px;content:':';font-size:14px;margin-top:-24px}
.b_paging .paging > li.prev + .num:before {display:none}
.b_paging .paging > li.num {padding:0 26px;font-size:16px;line-height:50px;color:#424242}
.b_paging .paging > li.num.current {font-weight:bold;color:#e16418}
.b_paging .paging > li.num > a {color:inherit}
.b_paging .paging > li.btn,
.b_paging .paging > li.btn > a {width:50px;height:50px;background:url('../img/spr_asset.png') no-repeat 0 0}
.b_paging .paging > li.first {margin-right:5px;background-position:0 -58px}
.b_paging .paging > li.first > a {background-position:0 0}
.b_paging .paging > li.prev {background-position:-55px -58px}
.b_paging .paging > li.prev > a {background-position:-55px 0}
.b_paging .paging > li.next {margin-right:5px;background-position:-110px -58px}
.b_paging .paging > li.next > a {background-position:-110px 0}
.b_paging .paging > li.last {background-position:-165px -58px}
.b_paging .paging > li.last > a {background-position:-165px 0}
