@charset "UTF-8";





/******************************************************

*******************************************************/
#multmedia{padding-top: 54px;border-top: 2px solid #acacac;}
#multmedia .tab_lst{margin-bottom: 24px;}
#multmedia .tab_lst li{float: left;width: 170px;margin-left: 5px;padding: 15px 0;text-align: center;background-color: #dfdfdf;}
#multmedia .tab_lst li:first-child{margin-left: 0;}
#multmedia .tab_lst li a{font-size: 16px;color: #a2a2a2;}
#multmedia .tab_lst li.on{background-color: #a2a2a2;}
#multmedia .tab_lst li.on a{color: #fff;}

.media_top{height: 415px;}
.media_top li{float: left;margin-left: 26px;}
.media_top li:first-child{margin-left: 0;}
.media_top li > a{display: inline-block;overflow: hidden;max-width: 500px;word-break: break-all;white-space: nowrap;text-overflow: ellipsis;font-size: 16px;color: #444;}
.media_top li > a + .date{float: right;font-size: 12px;color: #888;}
.media_top .media_visual{display: block;overflow: hidden;width: 587px;height: 330px;margin-bottom: 20px;}




.calendar_y p{float: left;width: 340px;height: 50px;line-height: 50px;text-align: center;font-weight: 800;font-size: 35px;color: #444;}
.calendar_y a{float: left;width:50px;height:50px;background:url('../img/spr_asset.png') no-repeat 0 0}
.calendar_y a.prev{background-position: -55px 0;}
.calendar_y a.next{background-position: -110px 0;}
.calendar_y .y_short_cut{width: 52px;margin-left: 18px;background-position: -224px -85px;}
