.character_view {padding:127px 0 0 0}

/* Character View Slider */
.cv_header {position:relative;overflow:hidden;height:750px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/common/bg_character_top.jpg') repeat 50% 0}
.cv_header .visualList {position:absolute;top:0;left:50%;overflow:hidden;width:2560px;height:750px;margin-left:-1280px;z-index:1}
.cv_header .visualList .cv_item {position:absolute;overflow:hidden;top:0;left:50%;width:1300px;height:750px;margin-left:-650px}
.cv_header .visualList .cv_item .cv_img {display:inline-block}
.cv_header .owl-nav {position:relative;width:1200px;margin:241px auto 0}
.cv_header .owl-nav > div {position:absolute;top:0;width:145px;height:263px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/spr_global.png') no-repeat 0 0;z-index:5}
.cv_header .owl-nav .owl-prev {left:-170px;background-position:-135px -485px}
.cv_header .owl-nav .owl-next {right:-170px;background-position:-314px -485px}
.elsword .cv_header .owl-nav .owl-prev.disabled,
.ain .cv_header .owl-nav .owl-next.disabled {cursor:default}
.cv_header .owl-dots {position:relative;width:1200px;height:0;margin:680px auto 0;padding:0 0 0 8px;z-index:3}
.cv_header .owl-dots .owl-dot {float:left;margin:0 0 0 12px}
.cv_header .owl-dots .owl-dot > span {display:block;width:19px;height:19px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/spr_global.png') no-repeat -386px -95px}
.cv_header .owl-dots .owl-dot.active > span {background-position:-409px -95px}

/* 타이틀, 시스템 */
.cv_cont .cv_title {position:relative;height:58px;margin-top:43px;border-bottom:2px solid #ccc}
.cv_cont .cv_title:after{position:absolute;bottom:-2px;left:0;display:block;width:270px;height:2px;content:""}
.cv_cont .cv_title .tit {float:left;margin:0 15px 0 0;font-size:38px;line-height:40px;color:#3a312a;letter-spacing:-1px}
.cv_cont .cv_title .system {float:left;margin:1px 0 0 0}
.cv_cont .cv_title .system .gf_btn_system {display:block;min-width:148px;height:35px;padding:0 30px;line-height:35px;text-align:center;color:#fff}

/* 시놉시스 */
.cv_cont .cv_synopsis{position:relative;float:left;width:600px;padding:35px 65px 68px 8px}
.cv_cont .cv_synopsis p{line-height:28.5px;font-size:14px;color:#555;text-align:justify;word-break:keep-all}
.cv_cont .cv_synopsis:after{position:absolute;right:0;top:50%;width:2px;height:84px;margin-top:-42px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/common/bg_line_dotted.png') no-repeat 0 0;content:''}

/* 전직 라인 테이블 */
.cv_cont .cv_line {position:relative;float:right;margin:0 43px 0 0}
.cv_cont .cv_line.line4 {margin:0}
.cv_cont .cv_line:before {position:absolute;top:92px;left:50%;display:block;width:353px;height:26px;margin-left:-176px;content:'';background-repeat:no-repeat;background-position:0 0;background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/common/bg_character_line3.png')}
.cv_cont .cv_line.line4:before {width:445px;height:23px;margin-left:-223px;background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/common/bg_character_line4.png')}

.cv_cont .cv_line .cvl_name {display:block;width:144px;margin:41px auto 34px;padding:15px 0;text-align:center;font-size:14px;color:#fff}
.cv_cont .cv_line .cvl_list {float:left;width:143px;margin:0 0 0 27px;padding:1px;border:1px solid #bebebe}
.cv_cont .cv_line.line4 .cvl_list {margin:0 0 0 5px}
.cv_cont .cv_line .cvl_list.first {margin-left:0}
.cv_cont .cv_line .cvl_list li {position:relative}
.cv_cont .cv_line .cvl_list li.tit {padding:5px 0;text-align:center;color:#fff;background-color:#bebebe;border-bottom:1px solid #e5e5e5;
transition:all ease .3s;
-webkit-transition:all ease .3s;
-moz-transition:all ease .3s;
-o-transition:all ease .3s;}
.cv_cont .cv_line .cvl_list li.tit:after {position:absolute;left:50%;top:21px;margin-left:-12px;border-top:11px solid #bebebe;border-right:11px solid transparent;border-bottom:11px solid transparent;border-left:11px solid transparent;content:''}
.cv_cont .cv_line .cvl_list li.des:before {position:absolute;top:-2px;width:100%;height:8px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/common/bg_character_arrow.png') no-repeat 0 0;content:''}
.cv_cont .cv_line .cvl_list li.des .btn_job {display:block;padding:18px 0 13px;line-height:22px;text-align:center;font-size:14px;color:#666}
.cv_cont .cv_line .cvl_list li.des .btn_job > span {display:block}
.cv_cont .cv_line .cvl_list li.des.active .btn_job > span {font-weight:bold}
.cv_cont .cv_line .cvl_list li.des .btn_job .order {font-size:12px;line-height:13px}
.cv_cont .cv_line .cvl_list li.des .btn_job .name {line-height:23px}
.cv_cont .cv_line .cvl_list li.tit + .des:before {content:none}

.elsword .cv_cont .cv_line .cvl_list.active li.tit {background-color:#c71c00;border-bottom-color:#e9a499}
.elsword .cv_cont .cv_line .cvl_list.active li.tit:after{border-top:11px solid #c71c00}
.aisha .cv_cont .cv_line .cvl_list.active li.tit {background-color:#853ec8;border-bottom-color:#ceb2e9}
.aisha .cv_cont .cv_line .cvl_list.active li.tit:after{border-top:12px solid #853ec8}
.rena .cv_cont .cv_line .cvl_list.active li.tit {background-color:#75ce18;border-bottom-color:#c8eba3}
.rena .cv_cont .cv_line .cvl_list.active li.tit:after{border-top:12px solid #75ce18}
.raven .cv_cont .cv_line .cvl_list.active li.tit {background-color:#282828;border-bottom-color:#a9a9a9}
.raven .cv_cont .cv_line .cvl_list.active li.tit:after{border-top:12px solid #282828}
.eve .cv_cont .cv_line .cvl_list.active li.tit {background-color:#ef97bd;border-bottom-color:#f9d5e5}
.eve .cv_cont .cv_line .cvl_list.active li.tit:after{border-top:12px solid #ef97bd}
.chung .cv_cont .cv_line .cvl_list.active li.tit {background-color:#00a8e6;border-bottom-color:#99dcf5}
.chung .cv_cont .cv_line .cvl_list.active li.tit:after{border-top:12px solid #00a8e6}
.ara .cv_cont .cv_line .cvl_list.active li.tit {background-color:#fe9f01;border-bottom-color:#ffd999}
.ara .cv_cont .cv_line .cvl_list.active li.tit:after{border-top:12px solid #fe9f01}
.elesis .cv_cont .cv_line .cvl_list.active li.tit {background-color:#d00040;border-bottom-color:#ec99b3}
.elesis .cv_cont .cv_line .cvl_list.active li.tit:after{border-top:12px solid #d00040}
.add .cv_cont .cv_line .cvl_list.active li.tit {background-color:#a79fdf;border-bottom-color:#dcd9f2}
.add .cv_cont .cv_line .cvl_list.active li.tit:after{border-top:12px solid #a79fdf}
.luciel .cv_cont .cv_line .cvl_list.active li.tit {background-color:#202cf5;border-bottom-color:#dcd9f2}
.luciel .cv_cont .cv_line .cvl_list.active li.tit:after{border-top:12px solid #202cf5}
.rose .cv_cont .cv_line .cvl_list.active li.tit {color:#000;background-color:#fff653;border-bottom-color:#fffbba}
.rose .cv_cont .cv_line .cvl_list.active li.tit:after{border-top:12px solid #fff653}
.ain .cv_cont .cv_line .cvl_list.active li.tit {background-color:#19d2a8;border-bottom-color:#a3eddc}
.ain .cv_cont .cv_line .cvl_list.active li.tit:after{border-top:12px solid #19d2a8}

.elsword .cv_cont .cv_line .cvl_list li.des.active .btn_job {color:#c71c00}
.aisha .cv_cont .cv_line .cvl_list li.des.active .btn_job {color:#853ec8}
.rena .cv_cont .cv_line .cvl_list li.des.active .btn_job {color:#75ce18}
.raven .cv_cont .cv_line .cvl_list li.des.active .btn_job {color:#282828}
.eve .cv_cont .cv_line .cvl_list li.des.active .btn_job {color:#ef97bd}
.chung .cv_cont .cv_line .cvl_list li.des.active .btn_job {color:#00a8e6}
.ara .cv_cont .cv_line .cvl_list li.des.active .btn_job {color:#fe9f01}
.elesis .cv_cont .cv_line .cvl_list li.des.active .btn_job {color:#d00040}
.add .cv_cont .cv_line .cvl_list li.des.active .btn_job {color:#a79fdf}
.luciel .cv_cont .cv_line .cvl_list li.des.active .btn_job {color:#202cf5}
.rose .cv_cont .cv_line .cvl_list li.des.active .btn_job {color:#000}
.ain .cv_cont .cv_line .cvl_list li.des.active .btn_job {color:#19d2a8}

.elsword .cv_cont .cv_title:after,
.elsword .cv_cont .cv_title .system,
.elsword .cv_cont .cv_line .cvl_name {background-color:#c71c00}
.aisha .cv_cont .cv_title:after,
.aisha .cv_cont .cv_title .system,
.aisha .cv_cont .cv_line .cvl_name {background-color:#853ec8}
.rena .cv_cont .cv_title:after,
.rena .cv_cont .cv_title .system ,
.rena .cv_cont .cv_line .cvl_name{background-color:#75ce18}
.raven .cv_cont .cv_title:after,
.raven .cv_cont .cv_title .system,
.raven .cv_cont .cv_line .cvl_name {background-color:#282828}
.eve .cv_cont .cv_title:after,
.eve .cv_cont .cv_title .system,
.eve .cv_cont .cv_line .cvl_name {background-color:#ef97bd}
.chung .cv_cont .cv_title:after,
.chung .cv_cont .cv_title .system,
.chung .cv_cont .cv_line .cvl_name {background-color:#00a8e6}
.ara .cv_cont .cv_title:after,
.ara .cv_cont .cv_title .system,
.ara .cv_cont .cv_line .cvl_name {background-color:#fe9f01}
.elesis .cv_cont .cv_title:after,
.elesis .cv_cont .cv_title .system,
.elesis .cv_cont .cv_line .cvl_name {background-color:#d00040}
.add .cv_cont .cv_title:after,
.add .cv_cont .cv_title .system,
.add .cv_cont .cv_line .cvl_name {background-color:#a79fdf}
.luciel .cv_cont .cv_title:after,
.luciel .cv_cont .cv_title .system,
.luciel .cv_cont .cv_line .cvl_name {background-color:#202cf5}
.rose .cv_cont .cv_title:after,
.rose .cv_cont .cv_title .system,
.rose .cv_cont .cv_title .system .gf_btn_system,
.rose .cv_cont .cv_line .cvl_name {color:#000;background-color:#fff653}
.ain .cv_cont .cv_title:after,
.ain .cv_cont .cv_title .system,
.ain .cv_cont .cv_line .cvl_name {background-color:#19d2a8}

/* 주요 스킬 */
.cv_cont .cv_skill {clear:both}
.cv_cont .cv_skill .tit {margin:0 0 43px 0;padding:0 0 14px 0;font-size:20px;letter-spacing:-1px;color:#3a312a;border-bottom:2px solid #ccc}
.cv_cont .cv_skill .skill_list {overflow:hidden;margin:0 0 57px 0}
.cv_cont .cv_skill .skill_list li {float:left;margin:0 0 0 16px}
.cv_cont .cv_skill .skill_list li:first-child {margin-left:0}
.cv_cont .cv_skill .skill_list li .thumb {display:block;overflow:hidden;width:288px;height:162px}
.cv_cont .cv_skill .skill_list li .thumb img {width:100%}
.cv_cont .cv_skill .skill_list li .name {margin:14px 0 0 0;font-size:14px;text-align:center;color:#666}

/* 캐릭터 딱지 기본 */
.cv_nav {position:absolute;bottom:0;width:100%;height:116px;z-index:2}
.cv_nav:after {position:absolute;display:block;bottom:0;width:100%;height:100%;background-color:#000;opacity:.7;content:'';z-index:2;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";filter:alpha(opacity=70)}
.cv_nav .nav_list {position:absolute;top:13px;left:50%;width:1200px;margin-left:-600px;z-index:3}
.cv_nav .nav_list li {float:left;margin-left:9px}
.cv_nav .nav_list li.aisha,
.cv_nav .nav_list li.rena,
.cv_nav .nav_list li.raven,
.cv_nav .nav_list li.eve,
.cv_nav .nav_list li.chung {margin-left:8px}
.cv_nav .nav_list li:first-child {margin-left:0}
.cv_nav .nav_list li a,
.cv_nav .nav_list li a > span {display:block;text-align:left;text-indent:-9999px;line-height:0;font-size:0}
.cv_nav .nav_list li a {position:relative;width:92px;height:92px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/spr_character_sub_off.png') no-repeat 0 0}
.cv_nav .nav_list li a > span {opacity:0;position:absolute;top:0;left:0;width:100%;height:100%;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/spr_character_sub.png') no-repeat 0 0;
-webkit-transition: opacity .4s cubic-bezier(0.645, 0.045, 0.355, 1);
-moz-transition: opacity .4s cubic-bezier(0.645, 0.045, 0.355, 1);
transition: opacity .4s cubic-bezier(0.645, 0.045, 0.355, 1);
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
filter:alpha(opacity=0)}
.cv_nav .nav_list li.active a > span,
.cv_nav .nav_list li a:hover > span,
.cv_nav .nav_list li a:active > span {opacity:1;
-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
filter:alpha(opacity=100)}

/* 엘소드 딱지 */
.cv_nav .nav_list li.elsword a,
.cv_nav .nav_list li.elsword a > span,
.cv_nav .nav_list li.elsword.c1 a,
.cv_nav .nav_list li.elsword.c1 a > span {background-position:-46px -76px}
.cv_nav .nav_list li.elsword.c10 a,
.cv_nav .nav_list li.elsword.c10 a > span {background-position:-170px -76px}
.cv_nav .nav_list li.elsword.c11 a,
.cv_nav .nav_list li.elsword.c11 a > span {background-position:-170px -187px}
.cv_nav .nav_list li.elsword.c22 a,
.cv_nav .nav_list li.elsword.c22 a > span {background-position:-170px -303px}
.cv_nav .nav_list li.elsword.c100 a,
.cv_nav .nav_list li.elsword.c100 a > span {background-position:-294px -76px}
.cv_nav .nav_list li.elsword.c101 a,
.cv_nav .nav_list li.elsword.c101 a > span {background-position:-294px -187px}
.cv_nav .nav_list li.elsword.c112 a,
.cv_nav .nav_list li.elsword.c112 a > span {background-position:-294px -303px}

.cv_nav .nav_list li.elsword.c150 a,
.cv_nav .nav_list li.elsword.c150 a > span {background-position:-417px -76px}

.cv_nav .nav_list li.elsword.c151 a,
.cv_nav .nav_list li.elsword.c151 a > span {background-position:-417px -187px}


/* 아이샤 딱지 */
.cv_nav .nav_list li.aisha a,
.cv_nav .nav_list li.aisha a > span,
.cv_nav .nav_list li.aisha.c2 a,
.cv_nav .nav_list li.aisha.c2 a > span {background-position:-582px -76px}
.cv_nav .nav_list li.aisha.c14 a,
.cv_nav .nav_list li.aisha.c14 a > span {background-position:-706px -76px}
.cv_nav .nav_list li.aisha.c15 a,
.cv_nav .nav_list li.aisha.c15 a > span {background-position:-706px -187px}
.cv_nav .nav_list li.aisha.c23 a,
.cv_nav .nav_list li.aisha.c23 a > span {background-position:-706px -303px}
.cv_nav .nav_list li.aisha.c104 a,
.cv_nav .nav_list li.aisha.c104 a > span {background-position:-829px -76px}
.cv_nav .nav_list li.aisha.c105 a,
.cv_nav .nav_list li.aisha.c105 a > span {background-position:-829px -187px}
.cv_nav .nav_list li.aisha.c113 a,
.cv_nav .nav_list li.aisha.c113 a > span {background-position:-829px -303px}

.cv_nav .nav_list li.aisha.c153 a,
.cv_nav .nav_list li.aisha.c153 a > span {background-position:-953px -76px}

.cv_nav .nav_list li.aisha.c154 a,
.cv_nav .nav_list li.aisha.c154 a > span {background-position:-953px -187px}


/* 레나 딱지 */
.cv_nav .nav_list li.rena a,
.cv_nav .nav_list li.rena a > span,
.cv_nav .nav_list li.rena.c3 a,
.cv_nav .nav_list li.rena.c3 a > span {background-position:-46px -455px}
.cv_nav .nav_list li.rena.c12 a,
.cv_nav .nav_list li.rena.c12 a > span {background-position:-170px -455px}
.cv_nav .nav_list li.rena.c13 a,
.cv_nav .nav_list li.rena.c13 a > span {background-position:-170px -567px}
.cv_nav .nav_list li.rena.c24 a,
.cv_nav .nav_list li.rena.c24 a > span {background-position:-170px -683px}
.cv_nav .nav_list li.rena.c102 a,
.cv_nav .nav_list li.rena.c102 a > span {background-position:-294px -455px}
.cv_nav .nav_list li.rena.c103 a,
.cv_nav .nav_list li.rena.c103 a > span {background-position:-294px -567px}
.cv_nav .nav_list li.rena.c114 a,
.cv_nav .nav_list li.rena.c114 a > span {background-position:-294px -683px}

.cv_nav .nav_list li.rena.c156 a,
.cv_nav .nav_list li.rena.c156 a > span {background-position:-417px -455px}

.cv_nav .nav_list li.rena.c157 a,
.cv_nav .nav_list li.rena.c157 a > span {background-position:-417px -566px}

/* 레이븐 딱지 */
.cv_nav .nav_list li.raven a,
.cv_nav .nav_list li.raven a > span,
.cv_nav .nav_list li.raven.c4 a,
.cv_nav .nav_list li.raven.c4 a > span {background-position:-582px -455px}
.cv_nav .nav_list li.raven.c16 a,
.cv_nav .nav_list li.raven.c16 a > span {background-position:-705px -455px}
.cv_nav .nav_list li.raven.c17 a,
.cv_nav .nav_list li.raven.c17 a > span {background-position:-705px -566px}
.cv_nav .nav_list li.raven.c25 a,
.cv_nav .nav_list li.raven.c25 a > span {background-position:-705px -681px}
.cv_nav .nav_list li.raven.c106 a,
.cv_nav .nav_list li.raven.c106 a > span {background-position:-829px -455px}
.cv_nav .nav_list li.raven.c107 a,
.cv_nav .nav_list li.raven.c107 a > span {background-position:-829px -566px}
.cv_nav .nav_list li.raven.c115 a,
.cv_nav .nav_list li.raven.c115 a > span {background-position:-829px -681px}

.cv_nav .nav_list li.raven.c159 a,
.cv_nav .nav_list li.raven.c159 a > span {background-position:-952px -455px}

.cv_nav .nav_list li.raven.c160 a,
.cv_nav .nav_list li.raven.c160 a > span {background-position:-952px -566px}

/* 이브 딱지 */
.cv_nav .nav_list li.eve a,
.cv_nav .nav_list li.eve a > span,
.cv_nav .nav_list li.eve.c5 a,
.cv_nav .nav_list li.eve.c5 a > span {background-position:-46px -839px}
.cv_nav .nav_list li.eve.c18 a,
.cv_nav .nav_list li.eve.c18 a > span {background-position:-170px -839px}
.cv_nav .nav_list li.eve.c19 a,
.cv_nav .nav_list li.eve.c19 a > span {background-position:-170px -950px}
.cv_nav .nav_list li.eve.c26 a,
.cv_nav .nav_list li.eve.c26 a > span {background-position:-170px -1066px}
.cv_nav .nav_list li.eve.c108 a,
.cv_nav .nav_list li.eve.c108 a > span {background-position:-294px -839px}
.cv_nav .nav_list li.eve.c109 a,
.cv_nav .nav_list li.eve.c109 a > span {background-position:-294px -950px}
.cv_nav .nav_list li.eve.c116 a,
.cv_nav .nav_list li.eve.c116 a > span {background-position:-294px -1066px}

.cv_nav .nav_list li.eve.c162 a,
.cv_nav .nav_list li.eve.c162 a > span {background-position:-418px -839px}

.cv_nav .nav_list li.eve.c163 a,
.cv_nav .nav_list li.eve.c163 a > span {background-position:-418px -950px}

/* 청 딱지 */
.cv_nav .nav_list li.chung a,
.cv_nav .nav_list li.chung a > span,
.cv_nav .nav_list li.chung.c6 a,
.cv_nav .nav_list li.chung.c6 a > span {background-position:-582px -839px}
.cv_nav .nav_list li.chung.c20 a,
.cv_nav .nav_list li.chung.c20 a > span {background-position:-706px -839px}
.cv_nav .nav_list li.chung.c21 a,
.cv_nav .nav_list li.chung.c21 a > span {background-position:-706px -951px}
.cv_nav .nav_list li.chung.c27 a,
.cv_nav .nav_list li.chung.c27 a > span {background-position:-706px -1067px}
.cv_nav .nav_list li.chung.c110 a,
.cv_nav .nav_list li.chung.c110 a > span {background-position:-829px -839px}
.cv_nav .nav_list li.chung.c111 a,
.cv_nav .nav_list li.chung.c111 a > span {background-position:-829px -1066px}
.cv_nav .nav_list li.chung.c117 a,
.cv_nav .nav_list li.chung.c117 a > span {background-position:-829px -1067px}

.cv_nav .nav_list li.chung.c165 a,
.cv_nav .nav_list li.chung.c165 a > span {background-position:-953px -839px}

.cv_nav .nav_list li.chung.c166 a,
.cv_nav .nav_list li.chung.c166 a > span {background-position:-953px -950px}

/* 아라 딱지 */
.cv_nav .nav_list li.ara a,
.cv_nav .nav_list li.ara a > span,
.cv_nav .nav_list li.ara.c7 a,
.cv_nav .nav_list li.ara.c7 a > span {background-position:-46px -1250px}
.cv_nav .nav_list li.ara.c28 a,
.cv_nav .nav_list li.ara.c28 a > span {background-position:-170px -1250px}
.cv_nav .nav_list li.ara.c31 a,
.cv_nav .nav_list li.ara.c31 a > span {background-position:-170px -1366px}
.cv_nav .nav_list li.ara.c34 a,
.cv_nav .nav_list li.ara.c34 a > span {background-position:-170px -1477px}
.cv_nav .nav_list li.ara.c118 a,
.cv_nav .nav_list li.ara.c118 a > span {background-position:-294px -1250px}
.cv_nav .nav_list li.ara.c119 a,
.cv_nav .nav_list li.ara.c119 a > span {background-position:-294px -1366px}
.cv_nav .nav_list li.ara.c124 a,
.cv_nav .nav_list li.ara.c124 a > span {background-position:-294px -1477px}

.cv_nav .nav_list li.ara.c168 a,
.cv_nav .nav_list li.ara.c168 a > span {background-position:-417px -1250px}

.cv_nav .nav_list li.ara.c169 a,
.cv_nav .nav_list li.ara.c169 a > span {background-position:-417px -1365px}

/* 엘리시스 딱지 */
.cv_nav .nav_list li.elesis a,
.cv_nav .nav_list li.elesis a > span,
.cv_nav .nav_list li.elesis.c8 a,
.cv_nav .nav_list li.elesis.c8 a > span {background-position:-582px -1250px}
.cv_nav .nav_list li.elesis.c29 a,
.cv_nav .nav_list li.elesis.c29 a > span {background-position:-706px -1250px}
.cv_nav .nav_list li.elesis.c30 a,
.cv_nav .nav_list li.elesis.c30 a > span {background-position:-706px -1359px}
.cv_nav .nav_list li.elesis.c35 a,
.cv_nav .nav_list li.elesis.c35 a > span {background-position:-706px -1470px}
.cv_nav .nav_list li.elesis.c120 a,
.cv_nav .nav_list li.elesis.c120 a > span {background-position:-829px -1250px}
.cv_nav .nav_list li.elesis.c121 a,
.cv_nav .nav_list li.elesis.c121 a > span {background-position:-829px -1359px}
.cv_nav .nav_list li.elesis.c125 a,
.cv_nav .nav_list li.elesis.c125 a > span {background-position:-829px -1470px}

.cv_nav .nav_list li.elesis.c171 a,
.cv_nav .nav_list li.elesis.c171 a > span {background-position:-951px -1250px}

.cv_nav .nav_list li.elesis.c172 a,
.cv_nav .nav_list li.elesis.c172 a > span {background-position:-951px -1359px}

/* 애드 딱지 */
.cv_nav .nav_list li.add a,
.cv_nav .nav_list li.add a > span,
.cv_nav .nav_list li.add.c9 a,
.cv_nav .nav_list li.add.c9 a > span {background-position:-46px -1631px}
.cv_nav .nav_list li.add.c32 a,
.cv_nav .nav_list li.add.c32 a > span {background-position:-170px -1631px}
.cv_nav .nav_list li.add.c33 a,
.cv_nav .nav_list li.add.c33 a > span {background-position:-170px -1742px}
.cv_nav .nav_list li.add.c36 a,
.cv_nav .nav_list li.add.c36 a > span {background-position:-170px -1859px}
.cv_nav .nav_list li.add.c122 a,
.cv_nav .nav_list li.add.c122 a > span {background-position:-294px -1631px}
.cv_nav .nav_list li.add.c123 a,
.cv_nav .nav_list li.add.c123 a > span {background-position:-294px -1742px}
.cv_nav .nav_list li.add.c126 a,
.cv_nav .nav_list li.add.c126 a > span {background-position:-294px -1859px}

.cv_nav .nav_list li.add.c174 a,
.cv_nav .nav_list li.add.c174 a > span {background-position:-417px -1631px}

.cv_nav .nav_list li.add.c175 a,
.cv_nav .nav_list li.add.c175 a > span {background-position:-417px -1741px}


/* 루시엘 딱지 */
.cv_nav .nav_list li.luciel a,
.cv_nav .nav_list li.luciel a > span,
.cv_nav .nav_list li.luciel.c200 a,
.cv_nav .nav_list li.luciel.c200 a > span {background-position:-582px -1631px}
.cv_nav .nav_list li.luciel.c37 a,
.cv_nav .nav_list li.luciel.c37 a > span {background-position:-706px -1631px}
.cv_nav .nav_list li.luciel.c38 a,
.cv_nav .nav_list li.luciel.c38 a > span {background-position:-706px -1742px}
.cv_nav .nav_list li.luciel.c39 a,
.cv_nav .nav_list li.luciel.c39 a > span {background-position:-706px -1858px}
.cv_nav .nav_list li.luciel.c127 a,
.cv_nav .nav_list li.luciel.c127 a > span {background-position:-829px -1631px}
.cv_nav .nav_list li.luciel.c128 a,
.cv_nav .nav_list li.luciel.c128 a > span {background-position:-829px -1742px}
.cv_nav .nav_list li.luciel.c129 a,
.cv_nav .nav_list li.luciel.c129 a > span {background-position:-829px -1858px}

.cv_nav .nav_list li.luciel.c177 a,
.cv_nav .nav_list li.luciel.c177 a > span {background-position:-953px -1631px}

.cv_nav .nav_list li.luciel.c178 a,
.cv_nav .nav_list li.luciel.c178 a > span {background-position:-953px -1741px}

/* 로제 딱지 */
.cv_nav .nav_list li.rose a,
.cv_nav .nav_list li.rose a > span,
.cv_nav .nav_list li.rose.c201 a,
.cv_nav .nav_list li.rose.c201 a > span {background-position:-46px -2014px}
.cv_nav .nav_list li.rose.c41 a,
.cv_nav .nav_list li.rose.c41 a > span {background-position:-170px -2014px}
.cv_nav .nav_list li.rose.c40 a,
.cv_nav .nav_list li.rose.c40 a > span {background-position:-170px -2125px}
.cv_nav .nav_list li.rose.c43 a,
.cv_nav .nav_list li.rose.c43 a > span {background-position:-170px -2242px}
.cv_nav .nav_list li.rose.c42 a,
.cv_nav .nav_list li.rose.c42 a > span {background-position:-170px -2358px}
.cv_nav .nav_list li.rose.c131 a,
.cv_nav .nav_list li.rose.c131 a > span {background-position:-294px -2014px}
.cv_nav .nav_list li.rose.c130 a,
.cv_nav .nav_list li.rose.c130 a > span {background-position:-294px -2125px}
.cv_nav .nav_list li.rose.c133 a,
.cv_nav .nav_list li.rose.c133 a > span {background-position:-294px -2242px}
.cv_nav .nav_list li.rose.c132 a,
.cv_nav .nav_list li.rose.c132 a > span {background-position:-294px -2358px}

.cv_nav .nav_list li.rose.c180 a,
.cv_nav .nav_list li.rose.c180 a > span {background-position:-417px -2014px}

.cv_nav .nav_list li.rose.c181 a,
.cv_nav .nav_list li.rose.c181 a > span {background-position:-417px -2125px}


/* 아인 딱지 */
.cv_nav .nav_list li.ain a,
.cv_nav .nav_list li.ain a > span,
.cv_nav .nav_list li.ain.c202 a,
.cv_nav .nav_list li.ain.c202 a > span {background-position:-582px -2014px}
.cv_nav .nav_list li.ain.c44 a,
.cv_nav .nav_list li.ain.c44 a > span {background-position:-705px -2014px}
.cv_nav .nav_list li.ain.c45 a,
.cv_nav .nav_list li.ain.c45 a > span {background-position:-705px -2126px}
.cv_nav .nav_list li.ain.c46 a,
.cv_nav .nav_list li.ain.c46 a > span {background-position:-705px -2243px}
.cv_nav .nav_list li.ain.c134 a,
.cv_nav .nav_list li.ain.c134 a > span {background-position:-829px -2014px}
.cv_nav .nav_list li.ain.c135 a,
.cv_nav .nav_list li.ain.c135 a > span {background-position:-829px -2126px}
.cv_nav .nav_list li.ain.c136 a,
.cv_nav .nav_list li.ain.c136 a > span {background-position:-829px -2243px}

.cv_nav .nav_list li.ain.c184 a,
.cv_nav .nav_list li.ain.c184 a > span {background-position:-952px -2014px}

.cv_nav .nav_list li.ain.c185 a,
.cv_nav .nav_list li.ain.c185 a > span {background-position:-952px -2126px}


/* 시스템 팝업 */
.cv_system {display:none;position:absolute;top:0;left:50%;z-index:100}
.cv_system .cvs_body {overflow:hidden;width:747px;height:500px;background-color:#121b29;border-width:2px;border-style:solid}
.cv_system .cvs_body .cvs_side {float:left;width:175px;height:500px}
.cv_system .cvs_body .cvs_side .tit {overflow:hidden}
.cv_system .cvs_body .cvs_side .tit_sub {position:absolute;top:310px;left:2px;width:175px;height:42px}
.cv_system .cvs_body .cvs_side .gf_btn_close {position:absolute;display:block;top:444px;left:35px;width:109px;height:35px;text-indent:-1000em;overflow:hidden;background:url('http://s.nx.com/S2/Game/Elsword/2016/characterinfo/system/close.gif') no-repeat 0 0;z-index:1}
.cv_system .cvs_body > .cvs_cont {float:left;width:562px;height:477px;margin:11px 0 0 0;overflow-x:hidden;overflow-y:scroll}
.cv_system .cvs_body .scroll-wrapper > .scroll-content {text-align:center}
#cvs_elsword .cvs_body {border-color:#d81010}
#cvs_elsword .cvs_body .cvs_side {background:url('http://s.nx.com/S2/Game/Elsword/2016/characterinfo/system/bg_0.jpg') no-repeat 0 0}
#cvs_aisha .cvs_body {border-color:#8f57a9}
#cvs_aisha .cvs_body .cvs_side {background:url('http://s.nx.com/S2/Game/Elsword/2016/characterinfo/system/bg_1.jpg') no-repeat 0 0}
#cvs_rena .cvs_body {border-color:#a1bc1f}
#cvs_rena .cvs_body .cvs_side {background:url('http://s.nx.com/S2/Game/Elsword/2016/characterinfo/system/bg_2.jpg') no-repeat 0 0}
#cvs_raven .cvs_body {border-color:#acacac}
#cvs_raven .cvs_body .cvs_side {background:url('http://s.nx.com/S2/Game/Elsword/2016/characterinfo/system/bg_3.jpg') no-repeat 0 0}
#cvs_eve .cvs_body {border-color:#e697b3}
#cvs_eve .cvs_body .cvs_side {background:url('http://s.nx.com/S2/Game/Elsword/2016/characterinfo/system/bg_4.jpg') no-repeat 0 0}
#cvs_chung .cvs_body {border-color:#00adbd}
#cvs_chung .cvs_body .cvs_side {background:url('http://s.nx.com/S2/Game/Elsword/2016/characterinfo/system/bg_5.jpg') no-repeat 0 0}
#cvs_ara .cvs_body {border-color:#ff7200}
#cvs_ara .cvs_body .cvs_side {background:url('http://s.nx.com/S2/Game/Elsword/2016/characterinfo/system/bg_6.jpg') no-repeat 0 0}
#cvs_elesis .cvs_body {border-color:#e1353b}
#cvs_elesis .cvs_body .cvs_side {background:url('http://s.nx.com/S2/Game/Elsword/2016/characterinfo/system/bg_7.jpg') no-repeat 0 0}
#cvs_add .cvs_body {border-color:#8565eb}
#cvs_add .cvs_body .cvs_side {background:url('http://s.nx.com/S2/Game/Elsword/2016/characterinfo/system/bg_8.jpg') no-repeat 0 0}
#cvs_luciel .cvs_body {border-color:#2a66f4}
#cvs_luciel .cvs_body .cvs_side {background:url('http://s.nx.com/S2/Game/Elsword/2016/characterinfo/system/bg_9.jpg') no-repeat 0 0}
#cvs_rose .cvs_body {border-color:#eed236}
#cvs_rose .cvs_body .cvs_side {background:url('http://s.nx.com/S2/Game/Elsword/2016/characterinfo/system/bg_10.jpg') no-repeat 0 0}
#cvs_ain .cvs_body {border-color:#19d2a8}
#cvs_ain .cvs_body .cvs_side {background:url('http://s.nx.com/S2/Game/Elsword/2016/characterinfo/system/bg_11.jpg') no-repeat 0 0}
