/* Board List: Type Eltoon_Top */
.eltoon .b_subject .subject > a {letter-spacing:-0.8px}
.eltoon_list {padding:42px 0 0 0;border-top:2px solid #acacac}
.eltoon_list:after {clear:both;display:table;content:'';*zoom:1}
.eltoon_list > li {float:left;overflow:hidden;display:block;width:192px;height:210px;margin:0 0 24px 9px;padding:0;text-align:center;border:none}
.eltoon_list > li:first-child, .eltoon_list > li:nth-child(6n+1) {margin-left:0}
.eltoon_list > li > div {display:block;padding:0}
.eltoon_list .b_subject {display:inline-block;margin:0 0 2px 0}
.eltoon_list .b_subject .subject {clear:both}
.eltoon_list .b_subject .subject:after {clear:both;display:table;content:'';*zoom:1}
.eltoon_list .b_subject .subject > a {float:left;overflow:hidden;max-width:160px;word-break:break-all;white-space:nowrap;text-overflow:ellipsis;font-size:16px;line-height:21px;color:#444}
.eltoon_list .b_subject .subject > span {float:left;margin:0 0 0 3px;line-height:21px}
.eltoon_list .b_subject .subject .ico {width:19px;height:19px;background:url('http://localhost:3000/assets/img/spr_asset.png') no-repeat 0 0}
.eltoon_list .b_subject .subject .ico.new {background-position:-326px -85px}
.eltoon_list .b_date .date {font-size:12px}
.eltoon_list .b_author {font-size:12px;line-height:15px;color:#888}
.eltoon_list .b_author > a {color:#f0381f}
.eltoon_list .b_author .nickname {margin-right:4px}
.eltoon_list .b_thumb {margin:0 0 7px 0;border:1px solid #dadada}
.eltoon_list .b_thumb .thumb {width:190px;height:160px}
.eltoon_list .b_thumb .thumb,
.eltoon_list .b_thumb .thumb > a,
.eltoon_list .b_thumb .thumb > a > img {display:block;width:100%;height:100%}

/* Board List: Type Eltoon_Top.official */
.eltoon_list.official {float:left;margin:0 0 2px 0;padding:0 0 5px 0;border-top:none;border-bottom:2px solid #acacac}
.eltoon_list.official > li.title {text-align:center;background:#e06c26}
.eltoon_list.official > li.title .tit {font-size:20px;line-height:212px;font-weight:bold;color:#fff}

/* Board List: Type Eltoon */
.eltoon .board_list {clear:both;padding:28px 0 0;border-top:2px solid #acacac}
.eltoon .board_list > li {position:relative;float:left;display:block;width:285px;height:380px;margin:0 0 44px 20px;padding:0;text-align:center;border:none}
.eltoon .board_list > li:first-child, .eltoon .board_list > li:nth-child(4n+1) {margin-left:0}
.eltoon .board_list > li > div {display:block;padding:0}
.eltoon .board_list .b_subject {position:absolute;bottom:83px;left:0;width:100%;text-align:center}
.eltoon .board_list .b_subject .subject {display:inline-block}
.eltoon .board_list .b_subject .subject > a {max-width:250px;color:#fff}
.eltoon .board_list .b_author {margin:0 0 10px 0}
.eltoon .board_list .b_author .nickname {font-size:16px;font-weight:bold}
.eltoon .board_list .b_thumb {margin:0 0 22px 0}
.eltoon .board_list .b_thumb .thumb {width:285px;height:310px}
.eltoon .board_list .b_thumb .thumb > a {position:relative}
.eltoon .board_list .b_thumb .thumb > a:after {position:absolute;display:block;bottom:0;left:0;content:'';width:285px;height:115px;background:url('http://localhost:3000/assets/img/common/bg_uccItem.png') no-repeat 0 0}
.eltoon .board_list .b_info {font-size:12px;color:#888}
.eltoon .board_list .b_info > span {position:relative;padding:0 0 0 20px}
.eltoon .board_list .b_info > span:before {position:absolute;display:block;content:'';top:50%;left:8px;width:1px;height:9px;margin:-4px 0 0 0;background:#888}
.eltoon .board_list .b_info > span:first-child {padding:-0}
.eltoon .board_list .b_info > span:first-child:before {display:none}
.eltoon .board_list .b_info .ico {display:inline-block;vertical-align:-2px}
.eltoon .board_list .b_info .ico.like {width:13px;height:11px;margin:0 3px 0 0;background:url('http://localhost:3000/assets/img/spr_asset.png') no-repeat -326px -108px}
.eltoon .cont_body {margin:0 0 44px 0}