.mypage {width:900px;min-width:900px}
#contents.mypage {background:#282828;border-top:8px solid #e65700}
.mypage .wrap_cont {overflow:hidden;border-top:2px solid #fff}
.mypage .wrap_cont > section {width:900px;margin:0 auto}

.myCharacter_view {overflow:hidden;height:573px;background-color:#535353;background-repeat:no-repeat;background-position:0 0;background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_default.jpg')}

/* 엘소드 배경 */
/* 기본: 1 */
.myCharacter_view.c1 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c1.jpg')}

/* 1_1 소드 나이트: 10 */
.myCharacter_view.c10 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c10.jpg')}

/* 1_2 매직 나이트: 11 */
.myCharacter_view.c11 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c11.jpg')}

/* 1_3 시스 나이트: 22 */
.myCharacter_view.c22 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c22.jpg')}

/* 2_1 로드 나이트: 100 */
.myCharacter_view.c100 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c100.jpg')}

/* 2_2 룬 슬레이어: 101 */
.myCharacter_view.c101 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c101.jpg')}

/* 2_3 인피니티 소드: 112 */
.myCharacter_view.c112 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c112.jpg')}

/* 3_1 나이트 엠퍼러: 150 */
.myCharacter_view.c150 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c150.jpg')}

/* 3_2 룬 마스터: 151 */
.myCharacter_view.c151 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c151.jpg')}

/* 3_3 임모탈: 152 */
.myCharacter_view.c152 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c152.jpg')}

/* 아이샤 배경 */
/* 기본: 2 */
.myCharacter_view.c2 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c2.jpg')}

/* 1_1 하이 매지션: 14 */
.myCharacter_view.c14 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c14.jpg')}

/* 1_2 다크 매지션: 15 */
.myCharacter_view.c15 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c15.jpg')}

/* 1_3 배틀 매지션: 23 */
.myCharacter_view.c23 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c23.jpg')}

/* 2_1 엘레멘탈 마스터: 104 */
.myCharacter_view.c104 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c104.jpg')}

/* 2_2 보이드 프린세스: 105 */
.myCharacter_view.c105 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c105.jpg')}

/* 2_3 디멘션 위치: 113 */
.myCharacter_view.c113 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c113.jpg')}

/* 3_1 에테르 세이지: 153 */
.myCharacter_view.c153 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c153.jpg')}

/* 3_2 오즈 소서러: 154 */
.myCharacter_view.c154 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c154.jpg')}

/* 3_3 메타모르피: 155 */
.myCharacter_view.c155 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c155.jpg')}

/* 레나 배경 */
/* 기본: 3 */
.myCharacter_view.c3 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c3.jpg')}

/* 1_1 컴벳 레인저: 12 */
.myCharacter_view.c12 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c12.jpg')}

/* 1_2 스나이핑 레인저: 13 */
.myCharacter_view.c13 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c13.jpg')}

/* 1_3 트래핑 레인저: 24 */
.myCharacter_view.c24 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c24.jpg')}

/* 2_1 윈드 스니커: 102 */
.myCharacter_view.c102 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c102.jpg')}

/* 2_2 그랜드 아처: 103 */
.myCharacter_view.c103 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c103.jpg')}

/* 2_3 나이트 와처: 114 */
.myCharacter_view.c114 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c114.jpg')}

/* 3_1 아네모스: 156 */
.myCharacter_view.c156 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c156.jpg')}

/* 3_2 데이브레이커: 157 */
.myCharacter_view.c157 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c157.jpg')}

/* 3_3 트와일라잇: 158 */
.myCharacter_view.c158 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c158.jpg')}

/* 레이븐 배경 */
/* 기본: 4 */
.myCharacter_view.c4 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c4.jpg')}

/* 1_1 소드 테이커: 16 */
.myCharacter_view.c16 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c16.jpg')}

/* 1_2 오버 테이커: 17 */
.myCharacter_view.c17 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c17.jpg')}

/* 1_3 웨폰 테이커: 25 */
.myCharacter_view.c25 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c25.jpg')}

/* 2_1 블레이드 마스터: 106 */
.myCharacter_view.c106 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c106.jpg')}

/* 2_2 레크리스 피스트: 107 */
.myCharacter_view.c107 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c107.jpg')}

/* 2_3 베테랑 커맨더: 115 */
.myCharacter_view.c115 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c115.jpg')}

/* 3_1 퓨리어스 블레이드: 159 */
.myCharacter_view.c159 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c159.jpg')}

/* 3_2 레이지 하츠: 160 */
.myCharacter_view.c160 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c160.jpg')}

/* 3_3 노바 임퍼레이터: 161 */
.myCharacter_view.c161 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c161.jpg')}

/* 이브 배경 */
/* 기본: 5 */
.myCharacter_view.c5 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c5.jpg')}

/* 1_1 코드:액조틱: 18 */
.myCharacter_view.c18 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c18.jpg')}

/* 1_2 코드:아키텍처: 19 */
.myCharacter_view.c19 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c19.jpg')}

/* 1_3 코드:일렉트라: 26 */
.myCharacter_view.c26 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c26.jpg')}

/* 2_1 코드:네메시스: 108 */
.myCharacter_view.c108 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c108.jpg')}

/* 2_2 코드:엠프레스: 109 */
.myCharacter_view.c109 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c109.jpg')}

/* 2_3 코드:배틀 세라프: 116 */
.myCharacter_view.c116 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c116.jpg')}

/* 3_1 코드: 얼티메이트: 162 */
.myCharacter_view.c162 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c162.jpg')}

/* 3_2 코드: 에센시아: 163 */
.myCharacter_view.c163 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c163.jpg')}

/* 3_3 코드: 사리엘: 164 */
.myCharacter_view.c164 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c164.jpg')}

/* 청 배경 */
/* 기본: 6 */
.myCharacter_view.c6 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c6.jpg')}

/* 1_1 퓨리 가디언: 20 */
.myCharacter_view.c20 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c20.jpg')}

/* 1_2 슈팅 가디언: 21 */
.myCharacter_view.c21 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c21.jpg')}

/* 1_3 쉘링 가디언: 27 */
.myCharacter_view.c27 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c27.jpg')}

/* 2_1 아이언 팔라딘: 110 */
.myCharacter_view.c110 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c110.jpg')}

/* 2_2 데들리 체이서: 111 */
.myCharacter_view.c111 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c111.jpg')}

/* 2_3 택티컬 트루퍼: 117 */
.myCharacter_view.c117 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c117.jpg')}

/* 3_1 코멧 크루세이더: 165 */
.myCharacter_view.c165 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c165.jpg')}

/* 3_2 페이탈 팬텀: 166 */
.myCharacter_view.c166 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c166.jpg')}

/* 3_3 센츄리온: 167 */
.myCharacter_view.c167 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c167.jpg')}

/* 아라 배경 */
/* 기본: 7 */
.myCharacter_view.c7 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c7.jpg')}

/* 1_1 소선: 28 */
.myCharacter_view.c28 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c28.jpg')}

/* 1_2 소마: 31 */
.myCharacter_view.c31 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c31.jpg')}

/* 1_3 소요: 34 */
.myCharacter_view.c34 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c34.jpg')}

/* 2_1 제천: 118 */
.myCharacter_view.c118 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c118.jpg')}

/* 2_2 명왕: 119 */
.myCharacter_view.c119 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c119.jpg')}

/* 2_3 수라: 124 */
.myCharacter_view.c124 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c124.jpg')}

/* 3_1 비천: 168 */
.myCharacter_view.c168 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c168.jpg')}

/* 3_2 범황: 169 */
.myCharacter_view.c169 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c169.jpg')}

/* 3_3 대라: 170 */
.myCharacter_view.c170 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c170.jpg')}

/* 엘리시스 배경 */
/* 기본: 8 */
.myCharacter_view.c8 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c8.jpg')}

/* 1_1 세이버 나이트: 29 */
.myCharacter_view.c29 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c29.jpg')}

/* 1_2 파이로 나이트: 30 */
.myCharacter_view.c30 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c30.jpg')}

/* 1_3 다크 나이트: 35 */
.myCharacter_view.c35 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c35.jpg')}

/* 2_1 그랜드 마스터: 120 */
.myCharacter_view.c120 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c120.jpg')}

/* 2_2 블레이징 하트: 121 */
.myCharacter_view.c121 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c121.jpg')}

/* 2_3 크림슨 어벤저: 125 */
.myCharacter_view.c125 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c125.jpg')}

/* 3_1 엠파이어 소드: 171 */
.myCharacter_view.c171 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c171.jpg')}

/* 3_2 플레임 로드: 172 */
.myCharacter_view.c172 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c172.jpg')}

/* 3_3 블러디 퀸: 173 */
.myCharacter_view.c173 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c173.jpg')}

/* 애드 배경 */
/* 기본: 9 */
.myCharacter_view.c9 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c9.jpg')}

/* 1_1 사이킥 트레이서: 32 */
.myCharacter_view.c32 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c32.jpg')}

/* 1_2 아크 트레이서: 33 */
.myCharacter_view.c33 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c33.jpg')}

/* 1_3 타임 트레이서: 36 */
.myCharacter_view.c36 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c36.jpg')}

/* 2_1 루나틱 사이커: 122 */
.myCharacter_view.c122 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c122.jpg')}

/* 2_2 마스터마인드: 123 */
.myCharacter_view.c123 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c123.jpg')}

/* 2_3 디아볼릭 에스퍼: 126 */
.myCharacter_view.c126 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c126.jpg')}

/* 3_1 둠 브링어: 174 */
.myCharacter_view.c174 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c174.jpg')}

/* 3_2 도미네이터: 175 */
.myCharacter_view.c175 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c175.jpg')}

/* 3_3 매드 패러독스: 176 */
.myCharacter_view.c176 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c176.jpg')}

/* 루시엘 배경 */
/* 기본: 200 */
.myCharacter_view.c200 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c200.jpg')}

/* 1_1 킬리아크: 37 */
.myCharacter_view.c37 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c37.jpg')}

/* 1_2 로열 가드: 38 */
.myCharacter_view.c38 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c38.jpg')}

/* 1_3 디아블라: 39 */
.myCharacter_view.c39 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c39.jpg')}

/* 2_1 드레드로드: 127 */
.myCharacter_view.c127 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c127.jpg')}

/* 2_2 노블레스: 128 */
.myCharacter_view.c128 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c128.jpg')}

/* 2_3 데모니오: 129 */
.myCharacter_view.c129 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c129.jpg')}

/* 3_1 카타스트로피: 177 */
.myCharacter_view.c177 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c177.jpg')}

/* 3_2 이노센트: 178 */
.myCharacter_view.c178 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c178.jpg')}

/* 3_3 디앙겔리온: 179 */
.myCharacter_view.c179 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c179.jpg')}

/* 로제 배경 */
/* 기본: 201 */
.myCharacter_view.c201 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c201.jpg')}

/* 1_1 헤비 배럴: 41 */
.myCharacter_view.c41 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c41.jpg')}

/* 1_2 블러디아: 40 */
.myCharacter_view.c40 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c40.jpg')}

/* 1_3 발키리: 43 */
.myCharacter_view.c43 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c43.jpg')}

/* 1_4 메탈 하트: 42 */
.myCharacter_view.c42 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c42.jpg')}

/* 2_1 스톰 트루퍼: 131 */
.myCharacter_view.c131 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c131.jpg')}

/* 2_2 크림슨 로제: 130 */
.myCharacter_view.c130 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c130.jpg')}

/* 2_3 프레이야: 133 */
.myCharacter_view.c133 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c133.jpg')}

/* 2_4 옵티머스: 132 */
.myCharacter_view.c132 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c132.jpg')}

/* 3_1 템페스트 버스터: 180 */
.myCharacter_view.c180 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c180.jpg')}

/* 3_2 블랙 매서커: 181 */
.myCharacter_view.c181 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c181.jpg')}

/* 3_3 미네르바: 182 */
.myCharacter_view.c182 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c182.jpg')}

/* 3_4 프라임 오퍼레이터: 183 */
.myCharacter_view.c183 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c183.jpg')}

/* 아인 배경 */
/* 기본: 202 */
.myCharacter_view.c202 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c202.jpg')}

/* 1_1 롭티:익스큐터: 44 */
.myCharacter_view.c44 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c44.jpg')}

/* 1_2 롭티:엔파서: 45 */
.myCharacter_view.c45 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c45.jpg')}

/* 1_3 롭티:원더러: 46 */
.myCharacter_view.c46 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c46.jpg')}

/* 2_1 아메 서머터지: 134 */
.myCharacter_view.c134 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c134.jpg')}

/* 2_2 에브루헨 아모치온: 135 */
.myCharacter_view.c135 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c135.jpg')}

/* 2_3 아포스타시아: 136 */
.myCharacter_view.c136 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c136.jpg')}

/* 3_1 리히터: 184 */
.myCharacter_view.c184 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c184.jpg')}

/* 3_2 블루헨: 185 */
.myCharacter_view.c185 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c185.jpg')}

/* 3_3 헤르셔: 186 */
.myCharacter_view.c186 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c186.jpg')}

/* 라비 배경 */
/* 기본: 203 */
.myCharacter_view.c203 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c203.jpg')}

/* 1_1 스파키 차일드: 47 */
.myCharacter_view.c47 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c47.jpg')}

/* 1_2 트윙클 차일드: 48 */
.myCharacter_view.c48 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c48.jpg')}

/* 2_1 럼블 펌: 137 */
.myCharacter_view.c137 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c137.jpg')}

/* 2_2 샤이닝 로만티카: 138 */
.myCharacter_view.c138 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c138.jpg')}

/* 3_1 이터니티 위너: 187 */
.myCharacter_view.c187 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c187.jpg')}

/* 3_2 라디언트 소울: 188 */
.myCharacter_view.c188 {background-image:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/character/myinfo/img_c188.jpg')}

.mcv_info {float:left;width:210px;height:100%;background:rgba(0,0,0,0.1)}
.mcv_info .mcv_info_main {margin:160px 0 136px}
.mcv_info .mcv_info_main .myCharacter {margin:0 0 18px 0}
.mcv_info .mcv_info_main .myCharacter .characterBadge {margin:0 auto}
.mcv_info .mcv_info_main .txts_main {font-size:16px;text-align:center;color:#fff}
.mcv_info .mcv_info_main .txts_main .nickname {display:block;line-height:21px;font-weight:bold}
.mcv_info .mcv_info_main .txts_main .charname,
.mcv_info .mcv_info_main .txts_main .level {font-size:12px;color:#e65700}
.mcv_info .mcv_info_main .txts_main .level {margin:0 0 0 4px}
.mcv_info .mcv_info_sub {padding:0 22px}
.mcv_info .mcv_info_sub .txts_sub .tit {overflow:hidden;position:relative;display:block;margin:0 0 14px 0;font-size:13px;font-weight:bold;color:#bababa}
.mcv_info .mcv_info_sub .txts_sub .tit:after {position:absolute;display:block;top:50%;left:58px;width:100%;height:2px;background:#7e7e7e;content:'';}
.mcv_info .mcv_info_sub .txts_sub .server,
.mcv_info .mcv_info_sub .txts_sub .startDate {display:block;margin:0 0 6px 0;font-size:12px;color:#999}

.myCharacter_select {overflow:hidden}
.mcs_choiceServer {height:54px;padding:0 23px;line-height:54px;background:#e5e5e5}
.mcs_choiceServer .tit {float:left;margin:0 21px 0 0;font-size:17px;font-weight:bold;color:#414141}
.mcs_choiceServer .choiceServer {float:left;position:relative}
.mcs_choiceServer .choiceServer .server_list > li {float:left}
.mcs_choiceServer .choiceServer .server_list .ipt_label_radio {margin:0 16px 0 0;padding-left:18px;font-size:12px;color:#595959}
.mcs_choiceCharacter {position:relative;height:220px;background:#fff}
.mcs_choiceCharacter .arrow {position:absolute;display:block;top:0;width:45px;height:220px;z-index:3}
.mcs_choiceCharacter .arrow.left {left:80px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/common/bg_slider_arrow_l.png') no-repeat 0 0}
.mcs_choiceCharacter .arrow.right {right:80px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/common/bg_slider_arrow_r.png') no-repeat 0 0}
.mcs_choiceCharacter .characterList {position:relative;width:740px;margin:25px auto 0}
.mcs_choiceCharacter .characterList .owl-stage-outer {overflow:hidden}
.mcs_choiceCharacter .mcs_item {float:left;width:185px}
.mcs_choiceCharacter .mcs_item .choiceCharacter {width:185px}
.mcs_choiceCharacter .mcs_item .choiceCharacter .myCharacter .characterBadge {margin:0 auto}
.mcs_choiceCharacter .mcs_item .choiceCharacter .btn_choiceCharacter {display:block}
.mcs_choiceCharacter .mcs_item .choiceCharacter .btn_choiceCharacter:hover {text-decoration:none}
.mcs_choiceCharacter .mcs_item .choiceCharacter .crown {opacity:0;
transition:all ease .4s;background-position:-516px -38px}
.mcs_choiceCharacter .mcs_item.current .choiceCharacter .crown {background-position:-516px -2px !important}
.mcs_choiceCharacter .mcs_item.current .choiceCharacter .crown,
.mcs_choiceCharacter .mcs_item .choiceCharacter .btn_choiceCharacter:hover .crown {opacity:1}
.mcs_choiceCharacter .mcs_item .choiceCharacter .mcs_info {text-align:center}
.mcs_choiceCharacter .mcs_item .choiceCharacter .mcs_info .nickname {display:block;font-size:13px;line-height:21px;color:#e7652d}
.mcs_choiceCharacter .mcs_item .choiceCharacter .mcs_info .charname,
.mcs_choiceCharacter .mcs_item .choiceCharacter .mcs_info .level{font-size:12px;color:#595959}
.mcs_choiceCharacter .mcs_item .choiceCharacter .mcs_info .level {margin:0 0 0 4px}
.mcs_choiceCharacter .owl-carousel .owl-stage {margin:0 auto}
.mcs_choiceCharacter .owl-nav .owl-prev {left:-55px;background-position:-388px -140px}
.mcs_choiceCharacter .owl-nav .owl-prev.disabled {background-position:-458px -140px}
.mcs_choiceCharacter .owl-nav .owl-next {right:-55px;background-position:-427px -140px}
.mcs_choiceCharacter .owl-nav .owl-next.disabled {background-position:-497px -140px}
.mcs_choiceCharacter .owl-nav > div {position:absolute;top:50%;width:26px;height:60px;margin-top:-30px;background:url('http://s.nx.com/S2/Game/Elsword/site/2018/renewal/spr_global_181122.png') no-repeat 0 0;z-index:4}
.mcs_choiceCharacter .owl-nav > div.disabled {cursor:default}
