/* Board List: Type Party */
.party .bw_header .iptHelp {float:left}
.party .bv_header .bv_info {padding:32px 27px 26px !important;min-height:135px}
.party .bv_header .bv_info .bv_subject .subject_top:after,
.party .bv_footer .b_btns:after {clear:both;display:table;content:'';*zoom:1}
.party .bv_header .bv_info .bv_subject .subject_top .category {display:block;float:left;margin-right:2px;color:#e65700;font-size:12px;line-height:1.1}
.party .bv_header .bv_info .bv_subject .subject .tit {max-width:100%}
.party .bv_footer .b_btns .btn {margin:0 0 0 15px}
.party .bv_footer .b_btns .btn.list_m.notMine {float:right}
.party .board_list.default .b_date {width:120px}
.party .board_list.default .b_date .date {font-size:13px !important}
.party .board_list.default .b_hit {width:100px}
.party .board_list.default .b_author {width:170px}
.party .board_list_header {position:relative;padding-right:184px;text-align:right;font-size:0}
.party .board_list_header .bl_order {float:none;display:inline-block}
.party .board_list_header .bl_order .iptBox_select {width:180px}
.party .board_list_header .bl_order.depth2 .iptBox_select {width:280px}
.party .board_list_header .bl_order_btns {position:absolute;float:none;top:16px;right:16px}
