/* Board List: Type Elsword UCC */
.ucc .board_list.top {margin:0 0 2px 0;padding:42px 0 0 0}
.ucc .board_list {padding:28px 0 0;border-top:2px solid #acacac}
.ucc .board_list > li {position:relative;float:left;display:block;width:285px;height:380px;margin:0 0 44px 20px;padding:0;text-align:center;border:none}
.ucc .board_list > li:first-child, .ucc .board_list > li:nth-child(4n+1) {margin-left:0}
.ucc .board_list > li > div {display:block;padding:0}
.ucc .board_list .b_subject {position:absolute;bottom:83px;left:0;width:100%;text-align:center}
.ucc .board_list .b_subject .subject {display:inline-block}
.ucc .board_list .b_subject .subject > a {max-width:250px;color:#fff}
.ucc .board_list .b_author {margin:0 0 12px 0}
.ucc .board_list .b_author .nickname {font-size:16px}
.ucc .board_list .b_thumb {margin:0 0 22px 0}
.ucc .board_list .b_thumb .thumb {width:285px;height:310px}
.ucc .board_list .b_thumb .thumb > a {position:relative}
.ucc .board_list .b_thumb .thumb > a:after {position:absolute;display:block;bottom:0;left:0;content:'';width:285px;height:115px;background:url('http://localhost:3000/assets/img/common/bg_uccItem.png') no-repeat 0 0}
.ucc .board_list .b_info {font-size:12px;color:#888}
.ucc .board_list .b_info > span {position:relative;padding:0 0 0 20px}
.ucc .board_list .b_info > span:before {position:absolute;display:block;content:'';top:50%;left:8px;width:1px;height:9px;margin:-4px 0 0 0;background:#888}
.ucc .board_list .b_info > span:first-child {padding:-0}
.ucc .board_list .b_info > span:first-child:before {display:none}
.ucc .board_list .b_info .ico {display:inline-block;vertical-align:-2px}
.ucc .board_list .b_info .ico.like {width:13px;height:11px;margin:0 3px 0 0;background:url('http://localhost:3000/assets/img/spr_asset.png') no-repeat -326px -108px}
.ucc .cont_body {margin:0 0 44px 0}